# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore Windows files
*.db
*.bak

# Ignore Net Beans project
nbproject
nbproject/*

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
sites/default/themes/BaseResponsive/assets/.sass-cache/
sites/default/themes/BaseResponsive/assets/.sass-cache/*

# Ignore Development modules
#sites/*/modules/stage_file_proxy/*
#sites/*/modules/contrib/stage_file_proxy/*