//::::::::::::::::::::::::::::::
//:: Extendables and Common Classes
//::::::::::::::::::::::::::::::
 
//::::::::::::::::::::::::::::::
//:: Fonts
/*
  font-family:'Avenir Next W04 Bold';
  font-family:'AvenirNextLTW01-DemiCnS';
  font-family:'AvenirNextW01-CnLight';
  font-family:'AvenirNextLTW01-Condens 727663';
  font-family:'AvenirNextLTW01-CnItSC';
  font-family:'Avenir Next W02 Thin';
  font-family:'AvenirNextW02-ThinItali';
  font-family:'AvenirNextLTW01-MediumS';
  font-family:'AvenirNextLTW01-MediumI 727649';
  font-family:'AvenirNextW01-CnLightIt';
  font-family:'Avenir Next W02 Light';
  font-family:'AvenirNextW02-LightItal';
  font-family:'GaramondClassico W00';
  font-family:'GaramondClassico W00 SC';
*/

%font-stack-code {
  font-family: Menlo, Consolas, "Andale Mono", "Lucida Console", "Nimbus Mono L", "DejaVu Sans Mono", monospace, "Courier New";
}
%font-stack-sans {
  font-family: 'Avenir Next W02 Light', Helvetica, Arial, sans-serif;
  font-weight: normal;
}
%font-stack-sans-italic {
  font-family: 'AvenirNextW02-ThinItali', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}
%font-stack-sans-bold {
  font-family: 'AvenirNextLTW01-MediumS', Helvetica, Arial, sans-serif;
  font-weight: normal;
}
%font-stack-sans-bold-italic {
  font-family: 'AvenirNextLTW01-MediumI 727649', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}
%font-stack-sans-heavy {
  font-family: 'Avenir Next W04 Bold', Helvetica, Arial, sans-serif;
  font-weight: normal;
}
%font-stack-sans-condensed {
  font-family: 'AvenirNextW01-CnLight', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}
%font-stack-sans-condensed-bold {
  font-family: 'AvenirNextLTW01-DemiCnS', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}
%font-stack-serif {
  font-family: 'GaramondClassico W00', "Times New Roman", Times, serif;
  font-weight: normal;
}
%font-stack-serif-smallcap {
  font-family: 'GaramondClassico W00 SC', "Times New Roman", Times, serif;
  font-weight: normal;
}
/*
body{font-family:sans-serif;}
body,.webform-component label.option,.accordian-view .ui-accordion-content-active{font-family:'Avenir Next W02 Light',Helvetica,Arial,sans-serif;font-weight:normal;}
em,i{font-family:'AvenirNextW02-ThinItali',Helvetica,Arial,sans-serif;font-weight:normal;font-style:normal;}
strong,b,input.form-submit,a.button,.holiday-giving input.submit,input.checkout-cancel,input.btn-submit,fieldset legend,.accordian-view .ui-state-default a,.accordian-view .ui-state-default a:link,.accordian-view .ui-state-active a,.accordian-view .ui-state-active a:link,.shopping-cart-page section .cart-item .product-title a,.shopping-cart-page section .cart-item .product-title a:link,.checkout-help,.checkout-review tr.even td .form-type-item label,.checkout-review tr.odd td .form-type-item label,.checkout-review .pane-title,input.checkout-back,ol.inline.commerce-checkout-progress li.active{font-family:'AvenirNextLTW01-MediumS',Helvetica,Arial,sans-serif;font-weight:normal;}
strong em,em strong,b i,i b{font-family:'AvenirNextLTW01-MediumI 727649',Helvetica,Arial,sans-serif;font-weight:normal;font-style:normal;}
h2,.utility-newdcamp,.utility-date,.main-menu-block ul.menu li.leaf a,.cta a{font-family:'Avenir Next W04 Bold',Helvetica,Arial,sans-serif;font-weight:normal;}
.overview{font-family:'AvenirNextW01-CnLight',Helvetica,Arial,sans-serif;font-weight:normal;font-style:normal;}
h1,.label{font-family:'AvenirNextLTW01-DemiCnS',Helvetica,Arial,sans-serif;font-weight:normal;font-style:normal;}
.webform-component label,.cta,.post-date,.author,.read-more{font-family:'GaramondClassico W00',"Times New Roman",Times,serif;font-weight:normal;}
#content p a:link,#content p
a:visited{font-family:'GaramondClassico W00 SC',"Times New Roman",Times,serif;font-weight:normal;}
code,pre,kbd,samp,var{padding:0 0.4em;font-size:0.77em;font-family:Menlo,Consolas,"Andale Mono","Lucida Console","Nimbus Mono L","DejaVu Sans Mono",monospace,"Courier New";}
*/
//::::::::::::::::::::::::::::::
//:: Titles
%h1-title-style {
	@include title-style (
			$font-size: em($h1-font-size)
		, $font-weight:	normal
		,	$line-height: 1.25
		,	$margin: 0 0 em(10, $h1-font-size)
		,	$text-transform: uppercase
    , $extend-1: font-stack-sans-condensed-bold
  );
}
%h2-title-style {
	@include title-style (
      $color: $title-color
		,	$font-size: em($h2-font-size)
		, $font-weight:	bold
		,	$line-height: 1
		,	$margin: em(10,36) 0
		,	$text-transform: uppercase
    , $extend-1: font-stack-sans-heavy
	);
}
%h3-title-style {
	@include title-style (
			$color: $title-color
		,	$font-size: em($h3-font-size)
		, $font-weight:	bold
		,	$line-height: 1
		,	$margin: em(10) 0
	);
}


//::::::::::::::::::::::::::::::
//:: Navicon
//::::::::::::::::::::::::::::::
%newdcamp-navicon {
	@include create-navicon(
    $z-index: 100
  );
	@extend %element-invisible;

  @include responsive($portrait) {
    top: 165px;
  }
  @if $activate-navicon-level != NULL {
		@include responsive($activate-navicon-level) {
			clip: auto;
		}
	}
}


//::::::::::::::::::::::::::::::
//:: Site Quotes
//::::::::::::::::::::::::::::::
%site-quote-style {
	@include quotes (
		$font-style:		italic
	);
}
%site-block-quote-style {
	@include quotes (
		$font-size:		1.75em
	,	$font-style:	italic
	);
}


//::::::::::::::::::::::::::::::
//:: WYSIWYG font-sizes
.merch-box-title,
%merch-box-title {
	font-size: 2em;
}
.merch-box-sub-title,
%merch-box-sub-title {
	font-size: 1.5em;
}
.merch-box-detail-text,
%merch-box-detail-text {
	font-size: 1.15em;
}
.merch-box-fine-print,
%merch-box-fine-print {
	font-size: 0.6em;
}


//::::::::::::::::::::::::::::::
//:: Banner Overlay
%banner-overlay {
	@include banner-overlay (
			$background: $page-banner-overlay-bg
		, $border-all: 1px solid
		, $border-left: 0 none
		, $border-radius: 0 $standard-border-radius $standard-border-radius 0
		, $height: $page-banner-overlay-height
		, $left: 0
		, $max-height: $page-banner-overlay-height
		, $padding: em(10) em(20)
		, $position: absolute
		, $top: $page-banner-overlay-padding
		, $width: 40%
		, $z-index: 100
		, $ie-rgba: true
	);
}


//::::::::::::::::::::::::::::::
//:: Buttons
.btn,
%btn {
  @extend %font-stack-sans-bold;
	@include css-button(
			$background: $master-color
		,	$border: 0 none
		,	$color: #FFF
		,	$font-size: em(16)
		,	$line-height: 1.25
		, $padding: 6px 16px
		, $text-decoration: none
    , $text-transform: uppercase
	);
  letter-spacing: 1px;
  @include transition(all 0.5s ease-in-out);
  
  &:hover {
    background-color: #666;
  }
}
.btn-muted,
%btn-muted {
	@include css-button(
			$background: $master-color
		,	$border: 0 none
		,	$border-radius: $standard-border-radius
		,	$color: #FFF
		,	$font-size: em(14)
		,	$line-height: 1.25
		, $padding: 3px 10px
		, $text-decoration: none
	);
}


//::::::::::::::::::::::::::::::
//:: Bullets
%bullet-arrow-master {
	@include CSSTriangle(
			$pointing: right
		, $color: $master-color
		, $left: 0
		, $top: 5px
	);
}
%bullet-arrow-secondary {
	@include CSSTriangle(
			$pointing: right
		,	$border-width: 6px 12px
		, $color: $secondary-color
		, $left: 0
		, $top: 5px
	);
}

//::::::::::::::::::::::::::::::
%bullet-layout-arrow {
	list-style: none;
	padding: 0;
	
	li {
		padding-left: 20px;
		position: relative;

		&:before {
			@extend %bullet-arrow-secondary;
		}
	}
}


//::::::::::::::::::::::::::::::
//:: One-off
.halo-border,
%halo-border {
	@include halo-border(
    	$background-color:	#FFF
    , $border:						1px solid #CCC
    , $padding:						5px
	);
}


	
//::::::::::::::::::::::::::::::
//:: Listing Objects
%listing-block-container {
	@include listing-container (
	);
}
//::::::::::::::::::::::::::::::
%listing-block-rows {
	@include listing-rows (
			$clear-rows: true
		,	$position-edit-links: true
		,	$rows-extend-margin: mar-b-1_5em
		,	$rows-position: relative
	);
}
//::::::::::::::::::::::::::::::
%listing-block-title {
	@include listing-title (
			$title-extend: h2
		,	$title-color: $master-color
		,	$title-hover-anchor-underline: true
	);
}
//::::::::::::::::::::::::::::::
%listing-block-img {
	@include listing-image (
			$img-float: left
		,	$img-margin: 0.3em $listing-img-rt-padding 1em 0
	);
}
//::::::::::::::::::::::::::::::
%listing-block-desc {
	@include listing-desc (
			$desc-extend-margin: mar-b-0_5em
		,	$desc-hover-anchor-underline: true
	)
}
//::::::::::::::::::::::::::::::
%listing-block-link {
	@include listing-link (
		$link-hover-anchor-underline: false
	);
}
//::::::::::::::::::::::::::::::
.listing-block,
%listing-block {
	
	$views-row-class:	"views-row" !default;
	.#{$views-row-class} {
		@extend %listing-block-rows !optional;
	}
	.img {
		@extend %listing-block-img !optional;
	}
	.title {
		@extend %listing-block-title !optional;
		margin-top: 0;
	}
	.date {
		@extend %listing-block-desc !optional;
	}
	.desc {
		@extend %listing-block-desc !optional;
	}
	.more {
		@extend %listing-block-link !optional;
	}
}
//::::::::::::::::::::::::::::::

