//::::::::::::::::::::::::::::::
//:: Main Styles
//::::::::::::::::::::::::::::::
 
//::::::::::::::::::::::::::::::
//:: One-off
.nowrap {
  white-space: nowrap;
}
code,
pre,
kbd,
samp,
var {
	@extend %font-stack-code;
}
strong, 
b {
	@extend %font-stack-sans-bold; 
  
  em, 
  i {
    @extend %font-stack-sans-bold-italic; 
  }
}
em, 
i {
	@extend %font-stack-sans-italic;

  strong, 
  b {
    @extend %font-stack-sans-bold-italic; 
  }
}
fieldset {
	legend {
		@extend %font-stack-sans-bold;
	}
}
#page-title {
  @extend %bg-accent-color;
  
  .front & {
    @extend %element-invisible;
  }
}
ul {
  &.primary,
  &.secondary {
//    @extend %bg-accent-color;
    margin: 0;
    padding: 1em 2px 1.5em;
  }
}
.post-date,
.author {
  @extend %font-stack-serif;
  font-size: em(13);
  letter-spacing: 1px;
  margin-right: em(20);
  text-transform: uppercase;

  .label {
    letter-spacing: 0;
    font-size: em(16,13);
    margin-right: em(5,13);
    text-transform: uppercase;
  }
}
.label {
  @extend %font-stack-sans-condensed-bold;
}
.read-more {
	@extend %font-stack-serif; 
}
.overview {
	@extend %font-stack-sans-condensed;
}
.drupal-camp-text {
  display: block;
  font-size: em(60,24);
  line-height: 1;

  @include font-size(
      $level-full:				60
    , $level-ipad:        48
    , $level-nook:        38
    ,	$level-landscape:		NULL
    ,	$level-portrait:		NULL
    , $context:           24
  );
  @include responsive($grid) {
    line-height: 1.2;
  }
}


//::::::::::::::::::::::::::::::
//:: Top Level Structure
html {
}
body {
  background-image: url(#{$theme-images}/bg_parchment.gif);
  background-repeat: repeat;
  padding-top: $top-page-padding;
  
  @include responsive(all) {
    padding-top: 0;
  }
  
  &.cke_editable {
    background: none;
  }
}
html,
body {
//  height: 100%;
}
#page {
  @include responsive($ipad) {
    padding: 0 40px;
  }
  @include responsive(less-than-ipad) {
    padding: 0 20px;
  }
}
#header {
  @include responsive(all) {
    padding-left: 0;
    padding-right: 0;
  }
}
#main {
  background-image: url(#{$theme-images}/bg_drupal_watermark.png);
  background-repeat: no-repeat;

  .front & {
    padding-top: 2px;
  }
  @include responsive(grid-ipad) {
    padding-top: 2em;
  }
  @include responsive($nook) {
    padding-top: 1em;
  }
  @include responsive(less-than-nook) {
    padding-top: 0;
  }
  .#{$logged-in-admin} & {
    padding-top: 0;
    
    @include responsive(grid-nook) {
      padding-top: 0;
    }
  }
}
#content,
#sidebar {
  @include responsive(grid-ipad) {
    padding: 0 20px;
  }
  @include responsive(less-than-ipad) {
    padding: 0 1em;
  }
  @include responsive(less-than-nook) {
    float: none;
    width: 100%;
  }
  .#{$logged-in-admin} & {
    padding-top: 2em;
    
    @include responsive(grid-nook) {
      padding-top: 2em;
    }
  }
}
#content {
  @extend %position-relative;
  @include responsive($activate-navicon-level) {
    border-top: 1px solid $master-color;
    margin-top: 7em;
  }
  
  .front & {
    padding-left: 0;
    padding-right: 0;
  }
  p {
    a {
      @extend %font-stack-serif-smallcap;
    }
  }
}
#sidebar {
  @extend %position-relative;
  @include responsive($activate-navicon-level) {
    position: static;
  }
  .front & {
    padding-top: 0;
  }
}

//::::::::::::::::::::::::::::::
//:: Logo
#logo {
  display: block;
  float: none;
  text-align: right;
  
  @include responsive(less-than-nook) {
    left: 0;
    max-height: 100px;
    max-width: 50%;
    padding: 0 1em;
    position: absolute;
    text-align: left;
    top: 3px;
    width: 50%;
  }
  .front & {
    left: 0;
    padding-right: 30px;
    position: absolute;
    top: 0;
    width: 100%;

    @include responsive(less-than-ipad) {
      padding: 0 1em;
    }
  }
}

//::::::::::::::::::::::::::::::
//:: Header
#header {
}
#header-inner {
  @extend %position-relative;
  
  @include responsive(nook-landscape) {
    padding-bottom: 30px;
  }
}
#name-and-slogan {
  float: left;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: (100% / 3);
  
  @include responsive(nook-landscape) {
    width: (100% / 2);
  }
  @include responsive($portrait) {
    float: none;
    text-align: center;
    width: 100%;
  }
  a {
    @extend %font-stack-sans-heavy;
    @extend %secondary-color;
    font-weight: bold;
    line-height: $header-height;

    @include responsive($portrait) {
      line-height: 50px;
    }
  }
}
.region-header {
  @include responsive(nook-landscape) {
    width: (100% / 2);
  }
  @include responsive($portrait) {
    float: none;
    width: 100%;
  }
}


//::::::::::::::::::::::::::::::
//:: Navigation
#main-menu {
	@include single-col-stacked-menu (
    	$container-background:				$menu-scsm-container-background
    ,	$container-border-radius:			$menu-scsm-container-border-radius
    ,	$container-transition:				NULL
    ,	$ul-identifier:								".links"
    ,	$ul-full-list-reset:					true
    , $ul-border-all:								NULL
    , $ul-display:                  block
    , $ul-text-align:								right
    ,	$li-list-reset:								true
    , $li-seperator:								NULL
    , $li-display:									block
    , $li-padding:									0
    ,	$a-background:								$menu-scsm-a-background
    ,	$a-color:											$menu-scsm-a-color
    ,	$a-display:										block
    , $a-line-height:               1.2
    ,	$a-padding:										$menu-scsm-a-padding
    ,	$a-hover-background:					$menu-scsm-a-hover-background
    ,	$a-hover-color:								$menu-scsm-a-hover-color
    ,	$a-active-background:					$menu-scsm-a-active-background
    ,	$a-active-color:							$menu-scsm-a-active-color
    ,	$a-active-hover-background:		$menu-scsm-a-active-hover-background
    ,	$a-active-hover-color:				$menu-scsm-a-active-hover-color
  );
	@include font-size(
      $level-full: 26
		, $level-nook: 20
	);
  font-weight: bold;
  
  @include responsive($activate-navicon-level) {
    background: rgba(#000, 0.8);
    height: 100%;
    left: 0;
    margin: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    @include transition(opacity 0.5s linear);
    width: 100%;
    z-index: -1;
  }
  .front & {
    margin: 0 0 em(48,26);
    min-height: 555px;
    padding-top: em(250,26);
      
    @include responsive($nook) {
      min-height: 501px;
    }
    @include responsive($activate-navicon-level) {
      margin: 0;
      min-height: 1px;
      padding-top: 0;
    }
  }
  .active-menu & {
    @include responsive($activate-navicon-level) {
      opacity: 1;
      z-index: 100;
    }
  }
  .links {
    text-transform: uppercase;
    
    @include responsive(less-than-ipad) {
      text-align: center;
    }
    li {
      + li {
        @include responsive($activate-navicon-level) {
          border-top: 1px solid $master-color;
        }
      }
    }
    .menu-1186,
    .menu-1187,
    .menu-1188,
    .menu-1189,
    .menu-1190 {
      @include font-size(
        $level-full:				20
      ,	$level-all:					NULL
      ,	$level-ipad:				NULL
      ,	$level-nook:				NULL
      ,	$level-landscape:		NULL
      ,	$level-portrait:		NULL
      ,	$context:						28
      );
      a {
        @include responsive($activate-navicon-level) {
          padding-top: 9px;
          padding-bottom: 9px;
        }
      }
    }
    .menu-1186,
    .menu-1190 {
      margin-top: 20px;
      
      @include responsive($activate-navicon-level) {
        border-top-width: 4px;
        margin-top: 0;
      }
      + li {
        
      }
    }
    &.menu-1190 {
      .not-logged-in & {
        @extend %element-hidden;
      }
    }
    a {
      @extend %font-stack-sans-heavy;
      @include responsive($activate-navicon-level) {
        padding: 5px 0;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
#skip-link {
  a,
  a:visited {
    @extend %newdcamp-navicon;
  }
}
#main-menu-inner {
  @include responsive($activate-navicon-level) {
    background: #FFF;
    border: 1px solid $master-color;
//    height: 214px;
    left: 50%;
    margin: -107px 0 0 -40%;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 80%;
    
    .close {
      display: block;
    }
  }
  .close {
    @extend %bg-accent-color;
    @extend %element-hidden;
    border: 1px solid $master-color;
    @include border-radius(30px);
    @include box-shadow(0 0 10px 2px rgba(#000, 0.7));
    color: $master-color;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: -20px;
    top: -20px;
    width: 30px;
  }
}


//::::::::::::::::::::::::::::::
//:: Sidebar
#sidebar {
  
}
.sidebar {
  
  .block {
  }
}


//::::::::::::::::::::::::::::::
//:: Forms
form {
}
.form-item,
.form-actions {
	margin: 1em 0;
}
.form-item {
  label {
    @extend %font-stack-serif;
    text-transform: uppercase;
    
    &.option {
      @extend %font-stack-sans;
    }
  }
}
.form-actions {
}
//::::::::::::::::::::::::::::::
.toboggan-unified {
  #login-message {
    @extend %mar-b-0_5em;

    @include responsive($portrait){
      font-size: em(20);
      font-weight: bold;
    }
  }
  #login-links {
    @include font-size(
        $level-full:				22
      ,	$level-portrait:		16
    );
    line-height: normal;
    
    a {
      @extend %inline-block;
      
      @include responsive($grid){
        padding: 6px;
      }
      @include responsive($landscape){
        padding: 8px;
      }
      + a {
        @include responsive(less-than-grid){
          margin-top: 10px;
        }
      }
    }
  }
}


//::::::::::::::::::::::::::::::
//:: Blocks
.block {
  @extend %mar-b-3em;
  
  .content {
    
  }
}
.block-title {
	
  @include responsive($portrait){
    text-align: center;
  }
	a {
		color: $master-color;
	}
}
//::::::::::::::::::::::::::::::
.block_conference-date {
  @extend %accent-color;
  float: left;
  font-weight: bold;
  line-height: $header-height;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  width: 50%;
  
  @include responsive(nook-landscape) {
    text-align: right;
    width: 100%;
  }
  @include responsive($portrait) {
    float: none;
    line-height: 1.25;
    width: 100%;
  }
  .content {
    @extend %font-stack-sans-heavy;
  }
}
//::::::::::::::::::::::::::::::
.block-social {
  @extend %clearfix;
  float: left;
  padding-top: 5px;
  width: 50%;
  
  @include responsive(nook-landscape) {
    bottom: 0;
    left: 0;
    padding-top: 0;
    position: absolute;
    width: 100%;
  }
  @include responsive($portrait) {
    float: none;
    width: 100%;
  }
  .content {
    ul {
      @extend %full-list-reset;
      float: right;

      @include responsive(less-than-ipad) {
        float: none;
        text-align: center; 
      }
      li {
        @extend %inline-block;
      }
    }
    a {
      @extend %secondary-color;

      &:hover {
        @extend %accent-color;
        @include text-shadow(0 0 15px $accent-color);
      }
    }
    [class^="icon-"],
    [class*=" icon-"] {
      @extend %inline-block;
      font-size: $icon-font-size;
      height: $social-icon-size;
      padding: 10px;
      overflow: hidden;
      text-align: right;
      text-decoration: none;
      width: $social-icon-size;

      @include responsive($ipad) {
        height: 40px;
        width: 40px;
      }
      &:after {
        @extend %display-block;
      }
    }
  }
}
//::::::::::::::::::::::::::::::
.block-homepage_image_nav {
  left: 23px;
  position: absolute;
  top: 390px;
  width: 100%;

  @include responsive($grid) {
    padding-right: 10px;
  }
  @include responsive($nook) {
    padding-right: 23px;
  }
  @include responsive($nook) {
    top: 340px;
  }
  @include responsive($landscape) {
    top: 260px;
  }
  @include responsive($portrait) {
    position: static;
  }
  @include responsive($activate-navicon-level) {
    left: 0;
  }
  .content {
    @extend %font-stack-sans-heavy;
    @include font-size(
        $level-full:				24
      , $level-all:     		18
      ,	$level-landscape:		22
      ,	$level-portrait:		26
    );

    ul {
      @extend %full-list-reset;
      @extend %clearfix;
    }
    li {
      @extend %position-relative;
      background: #FFF;
      float: left;
      font-weight: bold;
      @include opacity(0.85);
      text-align: center;
      text-transform: uppercase;
      @include transition(opacity 0.5s linear);
      width: (100% / 3);

      @include responsive($portrait) {
        float: none;
        @include opacity(1);
        width: 100%;
      }
      &:hover {
        @include opacity(1);
      }
      &:before {
        $seperator-pattern: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAKCAYAAACe5Y9JAAAAGklEQVQIW2NkgAJGTMaqVav+g0QZ8TBwawcAMjUL/0MIbGoAAAAASUVORK5CYII=";
        background: url(#{$seperator-pattern}) repeat-y;
        content: "";
        height: 90%;
        left: -1px;
        position: absolute;
        top: 5%;
        width: 2px;
      }
      &:first-child {
        &:before {
          content: normal;
        }
      }
    }
    p {
      margin-top: 0;
      padding-top: 13px;
    }
    img {
      @extend %center-block;
    }
  }
}
//::::::::::::::::::::::::::::::
.block-speakers_rabblerousers,
.block-homepage_blog_listing {
  padding: 0 0 0 63px;

  @include responsive($activate-navicon-level) {
    padding: 0 15px;
  }
}
//::::::::::::::::::::::::::::::
.block-speakers_rabblerousers {
}
//::::::::::::::::::::::::::::::
.block-homepage_blog_listing {
}
//::::::::::::::::::::::::::::::
.block-buildamodule_plug {
  .content {
    @extend %font-stack-serif;
    text-transform: uppercase;

    @include responsive($nook) {
      line-height: 1.4;
    }
  }
}
//::::::::::::::::::::::::::::::
.block-footer_sponsors {
  .block-title {
    padding: 0 30px;
  }
}


//::::::::::::::::::::::::::::::
//:: Views
.view-display-id-homepage_blog_listing {
  padding-right: 100px;
  
  @include responsive($activate-navicon-level) {
    padding-right: 10px;
  }
  article {
    @extend %edit-container;
    @extend %mar-b-1_5em;
    line-height: 1.25;
  }
  .title,
  .date {
    @include responsive($portrait){
      
    }
  }
  .title {
    @extend %font-stack-sans-heavy;
    font-size: em(18);
    font-weight: bold;
    line-height: 1.25
  }
  .date {
    @extend %font-stack-serif;
  }
}
//::::::::::::::::::::::::::::::
.view-display-id-rotating_sponsor_logos {
  
  .slides {

    @include responsive($portrait){
      text-align: center;
    }
    li {
      @extend %edit-container;
    }
    img {
      @include responsive($portrait){
        @include inline-block($alignment:none);
      }
    }
  }
}
//::::::::::::::::::::::::::::::
.view-display-id-speakers_and_rabblerousers {
  
  .view-content {
    @extend %clearfix;
  }
  article {
    @extend %edit-container;
    float: left;
    @include font-size(
      $level-full: 14
    );
    width: (100% / 3);
    
    @include responsive($portrait){
      float: none;
      text-align: center;
      width: 100%;
    }
  }
  .img {
    @extend %mar-b-0_5em;
    padding-right: 15px;
    
    .user-picture {
      @extend %halo-border;
      @extend %display-block;
    }
    img {
      @extend %center-block;
    }
  }
  .name {
    @extend %font-stack-sans-heavy;
    font-weight: bold;
    line-height: normal;
  }
  .organization {
    @extend %font-stack-serif;
    line-height: normal;
    text-transform: uppercase;
  }
}
//::::::::::::::::::::::::::::::
.view-display-id-page_sponsors {
  .title {
  }
  .event-sponsor {
    @extend %edit-container;
  }
  .img {
    max-width: 80%;
  }
}
//::::::::::::::::::::::::::::::
.view-display-id-sponsors_all {
  .title {
    clear: both;
    float: left;
    margin: em(60) 0 em(30) 0;
  }
  .sponsor {
    @extend %edit-container;
    @extend %mar-b-1_5em;
    float: left;
    padding-right: 10%;
    width: 50%;

    &:nth-of-type(2n+1){
      clear: both;
    }
  }
  .img {
    
  }
}
//::::::::::::::::::::::::::::::
.view-display-id-blog_listing_page {
  .blog-article {
    @extend %edit-container;
    @extend %mar-b-1_5em;
  }
  .title {
    line-height: 1;
  }
  .post-date,
  .author {
    
    .label {
    }
  }
  .desc {
    
  }
  .read-more {
    font-size: em(20);
    text-align: right;
  }
}
//::::::::::::::::::::::::::::::
.view-display-id-single_tweet {
  .tweet {
    text-align: center;
  }
}
//::::::::::::::::::::::::::::::
.view-display-id-footer_sponsors {

  .sponsor {
    @extend %edit-container;
  }
}
//::::::::::::::::::::::::::::::
.view-display-id-footer_sponsors_all {
  @extend %clearfix;
  @extend %bg-accent-color;
  padding: 15px 0;

  > .view-header {
    float: $sidebar-float;
    padding: $sidebar-padding;
    width: $sidebar-width;
    
    @include responsive($portrait){
      padding: 0 15px;
      text-align: center;
      width: 100%;
    }
  }
  > .view-content {
    @extend %clearfix;
    float: $content-float;
    padding: $content-padding;
    width: $content-width;

    @include responsive($portrait) {
      padding: 0 15px;
      width: 100%;
    }
    .sponsor {
      float: left;
      padding-right: 5%;
      width: (100% / 3);

      @include responsive($portrait) {
        margin: 10px 0;
        width: 100%;
      }
      &:nth-of-type(3n+1){
        clear: both;
      }
    }
  }
  .title {
    clear: both;
  }
  .sponsor {
    @extend %edit-container;
  }
}

//::::::::::::::::::::::::::::::
//:: Page Content
.node {
  @extend %mar-b-3em;
  
  .front & {
    @extend %accent-color;
    background: url(#{$theme-images}/#{$homepage-bg-img-file-name}) no-repeat;
    min-height: $homepage-bg-img-height;
    margin-left: em(23);
    padding-left: 0;
    padding-right: 0;
    
    @include responsive(grid-ipad) {
      margin-bottom: 1.5em;
    }
    @include responsive($nook) {
      min-height: 490px;
    }
    @include responsive($landscape) {
      min-height: 430px;
    }
    @include responsive($portrait) {
      min-height: 300px;
    }
    @include responsive(less-than-nook) {
      margin-bottom: 0.5em;
    }
    @include responsive($activate-navicon-level) {
      margin-left: 0;
    }
  }
}
.node-page {
	position: relative;
  
  .desc {
    .front & {
      @extend %font-stack-sans-heavy;
      @include font-size(
          $level-full:				24
        ,	$level-ipad:				24
        ,	$level-landscape:		18
        ,	$level-portrait:		16
      );
      font-weight: bold;
      line-height: 30px;
      padding: 60px 30px 0;
      text-transform: uppercase;
      
      @include responsive($grid){
        line-height: 30px;
      }
      @include responsive(ipad-nook){
        line-height: 24px;
      }
      @include responsive(less-than-ipad){
        padding-top: 30px;
      }
      @include responsive(less-than-nook){
        line-height: 1.25;
      }
      @include responsive($portrait){
        padding: 30px 15px 0;
      }
    }
    sup {
      font-size: 60%;
    }
    a {
      #content & {
        @extend %font-stack-sans-heavy; 
      }
    }
    p {
      + p {
        margin-top: 0;
      }
    }
  }
}


//::::::::::::::::::::::::::::::
//:: Footer
#footer {
  @if $footer-font-size != NULL {
    font-size: em(stripUnits('px', $footer-font-size));
  }
  @if $footer-line-height != NULL {
  	line-height: $footer-line-height;
  }
  padding-left: 0;
  padding-right: 0;
}
//::::::::::::::::::::::::::::::
.block_copyright {
	@extend %mar-b-0;
	clear: both;
	text-align: center;
}


//::::::::::::::::::::::::::::::
//:: FlexSlider
.flexslider {
	@extend %mar-0;
	background: none;
	border: 0 none;
	box-shadow: none;
	
	.slides {
	
		> li {
			@include ie('lt-ie9'){
				filter: none !important;
			}
		}
		img{
			max-width: 100%;
			width: auto;
		}
	}
}


//::::::::::::::::::::::::::::::
//:: FlexSlider
.banner-style {
  @extend %edit-container;
}
.banner_style_title-image {
  
}