/* line 8, ../sass/extendables/_extendables.scss */
.hidden {
  display: none;
}

/* line 12, ../sass/extendables/_extendables.scss */
.not-logged-in h1, .not-logged-in .title-type-h1 .title, .title-type-h1 .not-logged-in .title, #block-system-main-menu .block-title,
.invisible {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

/* line 16, ../sass/extendables/_extendables.scss */
.visible {
  clip: auto;
  position: static !important;
}

/* line 24, ../sass/extendables/_extendables.scss */
.master-color {
  color: #cccccc !important;
}

/* line 29, ../sass/extendables/_extendables.scss */
.secondary-color {
  color: #aaaaaa !important;
}

/* line 33, ../sass/extendables/_extendables.scss */
.accent-color {
  color: black !important;
}

/* line 37, ../sass/extendables/_extendables.scss */
.text-color {
  color: #666666 !important;
}

/* line 42, ../sass/extendables/_extendables.scss */
.bg-master-color {
  background-color: #cccccc;
}

/* line 47, ../sass/extendables/_extendables.scss */
.bg-secondary-color {
  background-color: #aaaaaa;
}

/* line 51, ../sass/extendables/_extendables.scss */
.bg-accent-color {
  background-color: black;
}

/* line 55, ../sass/extendables/_extendables.scss */
.bg-text-color {
  background-color: #666666;
}

/* line 61, ../sass/extendables/_extendables.scss */
.published-No,
.node-unpublished {
  background-color: #ffffcc !important;
  position: relative;
}
/* line 65, ../sass/extendables/_extendables.scss */
.published-No:before,
.node-unpublished:before {
  content: "unpublished";
  color: #F00;
  font-size: 11px;
  position: absolute;
  right: 0;
  top: 0;
}

/* line 78, ../sass/extendables/_extendables.scss */
p {
  margin: 0;
  padding: 0;
}

/* line 82, ../sass/extendables/_extendables.scss */
.flexslider {
  margin: 0;
}

/* line 85, ../sass/extendables/_extendables.scss */
.block_copyright {
  margin-bottom: 0;
}

/* line 88, ../sass/extendables/_extendables.scss */
.block_header_geo {
  margin-bottom: 0.25em;
}

/* line 91, ../sass/extendables/_extendables.scss */
.listing-block .date, .listing-block .desc {
  margin-bottom: 0.5em;
}

/* line 97, ../sass/extendables/_extendables.scss */
.listing-block .views-row {
  margin-bottom: 1.5em;
}

/* line 117, ../sass/extendables/_extendables.scss */
.c-f-w {
  clear: both;
  float: left;
  width: 100%;
}

/* line 121, ../sass/extendables/_extendables.scss */
.display-block,
#block-system-main-menu .menu a {
  display: block;
}

/* line 126, ../sass/extendables/_extendables.scss */
.contents-inline > * {
  display: inline;
}

/* line 153, ../sass/extendables/_extendables.scss */
.logged-in .listing-block .views-row, .listing-block .logged-in .views-row {
  padding-top: 25px !important;
  position: relative;
}
/* line 157, ../sass/extendables/_extendables.scss */
.listing-block .views-row .edit-link {
  position: absolute;
  left: 0;
  text-transform: lowercase;
  top: 0;
}

/* line 155, ../sass/mixins/_mixins.scss */
.banner_style_image-title-text-link:after, .banner_style_image-text-link:after, .banner_style_title-image:after, .banner_style_title-image-text:after, .banner_style_title-image-text-link:after, .listing-block .views-row:after, #block-system-main-menu .menu:after,
.banner_style_image-title-text-link .pseudo-clear,
.banner_style_image-text-link .pseudo-clear,
.banner_style_title-image .pseudo-clear,
.banner_style_title-image-text .pseudo-clear,
.banner_style_title-image-text-link .pseudo-clear,
.listing-block .views-row .pseudo-clear,
#block-system-main-menu .menu .pseudo-clear {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 177, ../sass/extendables/_extendables.scss */
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url] {
  background: #eeeeee;
  border: 1px solid #cccccc;
  color: #666666;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0.875em;
  line-height: 1.2;
  padding: 5px 0 5px 10px;
  width: 100%;
}
/* line 137, ../sass/mixins/_mixins.scss */
.lt-ie9 input[type=email],
.lt-ie9 input[type=number],
.lt-ie9 input[type=password],
.lt-ie9 input[type=search],
.lt-ie9 input[type=tel],
.lt-ie9 input[type=text],
.lt-ie9 input[type=url] {
  behavior: url("/sites/baseline/themes/sitetheme/PIE.htc");
  position: relative;
}

/* line 201, ../sass/extendables/_extendables.scss */
ul {
  list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAOElEQVQYV2NkgIJYu7j/MDaIXnxoESMyH8xBVwRTgKyYEZcidMUDqZBoz5AUPMjhhYuNEqj4NAAABbogCyL7iDYAAAAASUVORK5CYII=");
}

/* line 215, ../sass/extendables/_extendables.scss */
.left-floated-img {
  float: left;
  margin: 0 2em 0.5em 0;
}
@media only screen and (max-width: 600px) {
  /* line 215, ../sass/extendables/_extendables.scss */
  .left-floated-img {
    display: block;
    float: none !important;
    margin: 0 auto 1em;
  }
}

/* line 232, ../sass/extendables/_extendables.scss */
.edit-link a {
  background: #cccccc;
  border: 1px solid #aaaaaa;
  -webkit-box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  color: yellow !important;
  cursor: pointer;
  float: left;
  font-size: 11px;
  line-height: 1;
  padding: 3px 5px;
  text-decoration: none;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
}
/* line 137, ../sass/mixins/_mixins.scss */
.lt-ie9 .edit-link a {
  behavior: url("/sites/baseline/themes/sitetheme/PIE.htc");
  position: relative;
}
/* line 641, ../sass/mixins/_mixins.scss */
.edit-link a:hover {
  text-decoration: none;
}

/* line 8, ../sass/skin-a/_extendables.scss */
#header, #highlighted_region, .sidebar-first .region-sidebar-first, .two-sidebars .region-sidebar-first, #page-title,
ul.tabs-primary,
.action-links,
#content-wrapper, .sidebar-second .region-sidebar-second, .two-sidebars .region-sidebar-second, #footer {
  margin-left: auto;
  margin-right: auto;
  max-width: 1040px;
  width: 100%;
}

@media only screen and (max-width: 1039px) {
  /* line 14, ../sass/skin-a/_extendables.scss */
  #header, #page #header, #highlighted_region, .sidebar-first .region-sidebar-first, .two-sidebars .region-sidebar-first, #page-title,
  ul.tabs-primary,
  .action-links,
  #content-wrapper, #bottom-sidebar, .sidebar-second .region-sidebar-second, .two-sidebars .region-sidebar-second, #footer-wrap, #footer {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* line 8, ../sass/skin-a/_tagbased.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 11, ../sass/skin-a/_tagbased.scss */
a {
  color: #666666;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  text-decoration: none;
}
/* line 22, ../sass/skin-a/_tagbased.scss */
a:hover {
  text-decoration: underline;
}

/* line 31, ../sass/skin-a/_tagbased.scss */
abbr[title] {
  border-bottom: 0 none;
}

/* line 40, ../sass/skin-a/_tagbased.scss */
p + p {
  margin-top: 1em;
}

/* line 45, ../sass/skin-a/_tagbased.scss */
q:before,
q:hover:before {
  color: #aaaaaa;
  content: '\201C';
  font-size: 1.5em;
  font-style: normal;
}

/* line 52, ../sass/skin-a/_tagbased.scss */
q:after,
q:hover:after {
  color: #aaaaaa;
  content: '\201D';
  font-size: 1.5em;
  font-style: normal;
}

/* line 64, ../sass/skin-a/_tagbased.scss */
img {
  max-height: 100%;
}

/* line 67, ../sass/skin-a/_tagbased.scss */
iframe {
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
}

/* line 121, ../sass/skin-a/_tagbased.scss */
::selection {
  background: #cccccc;
  color: #FFF;
}

/* line 125, ../sass/skin-a/_tagbased.scss */
::-moz-selection {
  background: #cccccc;
  color: #FFF;
}

/* line 132, ../sass/skin-a/_tagbased.scss */
::-webkit-input-placeholder {
  color: #cccccc;
}

/* line 135, ../sass/skin-a/_tagbased.scss */
:-moz-placeholder {
  color: #cccccc;
}

/* line 138, ../sass/skin-a/_tagbased.scss */
::-moz-placeholder {
  color: #cccccc;
}

/* line 141, ../sass/skin-a/_tagbased.scss */
:-ms-input-placeholder {
  color: #cccccc;
}

/* line 19, ../sass/skin-a/_structure.scss */
body {
  color: #666666;
  font: 100%/1.25 TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
}

/* line 23, ../sass/skin-a/_structure.scss */
#page {
  max-width: 100%;
}
@media only screen and (max-width: 1039px) {
  /* line 23, ../sass/skin-a/_structure.scss */
  #page {
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* line 31, ../sass/skin-a/_structure.scss */
#header {
  padding: 0.5em 0 0;
  position: relative;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) and (max-width: 1039px) {
  /* line 38, ../sass/skin-a/_structure.scss */
  #page #header {
    padding-left: 35%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
  /* line 31, ../sass/skin-a/_structure.scss */
  #header {
    padding-top: 80px;
  }
}

/* line 49, ../sass/skin-a/_structure.scss */
#logo {
  float: left;
  max-width: 45%;
}
@media only screen and (min-width: 768px) and (max-width: 1039px) {
  /* line 49, ../sass/skin-a/_structure.scss */
  #logo {
    bottom: 10px;
    left: 0;
    max-width: 32%;
    position: absolute;
  }
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
  /* line 49, ../sass/skin-a/_structure.scss */
  #logo {
    left: 0;
    max-height: 80px;
    position: absolute;
    top: 0.5em;
  }
}
@media only screen and (min-width: 480px) and (max-width: 599px) {
  /* line 49, ../sass/skin-a/_structure.scss */
  #logo {
    min-height: 75px;
  }
}
@media only screen and (max-width: 479px) {
  /* line 49, ../sass/skin-a/_structure.scss */
  #logo {
    display: block;
    float: none;
    max-width: 100%;
  }
}

/* line 77, ../sass/skin-a/_structure.scss */
#main {
  border-top: 10px solid #aaaaaa;
  padding-top: 0;
}

/* line 88, ../sass/skin-a/_structure.scss */
.sidebar-first #content, .sidebar-second #content, .two-sidebars #content {
  float: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* line 155, ../sass/mixins/_mixins.scss */
#main_content_wrapper:after,
#main_content_wrapper .pseudo-clear {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 155, ../sass/mixins/_mixins.scss */
.region-sidebar-first:after,
.region-sidebar-first .pseudo-clear {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 120, ../sass/skin-a/_structure.scss */
.sidebar-first .region-sidebar-first, .two-sidebars .region-sidebar-first {
  float: none;
  padding: 0;
}

/* line 155, ../sass/mixins/_mixins.scss */
#page-title:after,
#page-title .pseudo-clear,
ul.tabs-primary:after,
ul.tabs-primary .pseudo-clear,
.action-links:after,
.action-links .pseudo-clear,
#content-wrapper:after,
#content-wrapper .pseudo-clear {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 136, ../sass/skin-a/_structure.scss */
.not-front #content-wrapper {
  padding-top: 25px;
}

/* line 140, ../sass/skin-a/_structure.scss */
#bottom-sidebar {
  background: black;
  clear: both;
}

/* line 155, ../sass/mixins/_mixins.scss */
.region-sidebar-second:after,
.region-sidebar-second .pseudo-clear {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 164, ../sass/skin-a/_structure.scss */
.sidebar-second .region-sidebar-second, .two-sidebars .region-sidebar-second {
  float: none;
  padding: 0;
}

/* line 171, ../sass/skin-a/_structure.scss */
#footer-wrap {
  background: #cccccc;
}

/* line 175, ../sass/skin-a/_structure.scss */
#footer {
  color: #FFF;
  padding: 1.25em 0;
  text-transform: uppercase;
}

/* line 137, ../sass/banner-ads/_image-title-text-link.scss */
.banner_style_image-title-text-link {
  margin: 0 0 1.5em 0;
  padding: 0 1em 0 0;
}
/* line 45, ../sass/banner-ads/_image-title-text-link.scss */
.logged-in .banner_style_image-title-text-link {
  padding-top: 25px;
  position: relative;
}
/* line 49, ../sass/banner-ads/_image-title-text-link.scss */
.banner_style_image-title-text-link .edit-link {
  position: absolute;
  left: 0;
  top: 0;
}
/* line 54, ../sass/banner-ads/_image-title-text-link.scss */
.banner_style_image-title-text-link a {
  color: #cccccc;
}
/* line 59, ../sass/banner-ads/_image-title-text-link.scss */
.banner_style_image-title-text-link .img {
  float: left;
  margin: 0 0.25em 0.5em 0;
}
/* line 94, ../sass/banner-ads/_image-title-text-link.scss */
.banner_style_image-title-text-link .title {
  color: #cccccc;
  margin: 0 0 0.5em;
}
/* line 110, ../sass/banner-ads/_image-title-text-link.scss */
.banner_style_image-title-text-link .title a {
  color: #cccccc;
}
/* line 116, ../sass/banner-ads/_image-title-text-link.scss */
.banner_style_image-title-text-link .desc {
  margin: 0 0 1em 0;
}
/* line 123, ../sass/banner-ads/_image-title-text-link.scss */
.banner_style_image-title-text-link .link a {
  color: #cccccc;
}

/* line 18, ../sass/banner-ads/_banner-system.scss */
.banner_style_image-text-link {
  margin: 0 0 1.5em 0;
  padding: 0 1em 0 0;
}
/* line 37, ../sass/banner-ads/_image-text-link.scss */
.banner_style_image-text-link a {
  color: #cccccc;
}
/* line 42, ../sass/banner-ads/_image-text-link.scss */
.banner_style_image-text-link .img {
  float: left;
  margin: 0 0.25em 0.5em 0;
  width: 50%;
}
/* line 59, ../sass/banner-ads/_image-text-link.scss */
.banner_style_image-text-link .desc {
  margin: 0 0 1em 0;
}
/* line 66, ../sass/banner-ads/_image-text-link.scss */
.banner_style_image-text-link .link a {
  color: yellow;
}

/* line 32, ../sass/banner-ads/_banner-system.scss */
.banner_style_image-title-text-link {
  margin: 0 0 1.5em 0;
  padding: 0 1em 0 0;
}
/* line 45, ../sass/banner-ads/_image-title-text-link.scss */
.logged-in .banner_style_image-title-text-link {
  padding-top: 25px;
  position: relative;
}
/* line 49, ../sass/banner-ads/_image-title-text-link.scss */
.banner_style_image-title-text-link .edit-link {
  position: absolute;
  left: 0;
  top: 0;
}
/* line 54, ../sass/banner-ads/_image-title-text-link.scss */
.banner_style_image-title-text-link a {
  color: #cccccc;
}
/* line 59, ../sass/banner-ads/_image-title-text-link.scss */
.banner_style_image-title-text-link .img {
  float: left;
  margin: 0 0.25em 0.5em 0;
  width: 50%;
}
/* line 94, ../sass/banner-ads/_image-title-text-link.scss */
.banner_style_image-title-text-link .title {
  font-size: 0.6875em;
  color: #cccccc;
  margin: 0 0 0.5em;
}
/* line 110, ../sass/banner-ads/_image-title-text-link.scss */
.banner_style_image-title-text-link .title a {
  color: #cccccc;
}
/* line 116, ../sass/banner-ads/_image-title-text-link.scss */
.banner_style_image-title-text-link .desc {
  margin: 0 0 1em 0;
}
/* line 123, ../sass/banner-ads/_image-title-text-link.scss */
.banner_style_image-title-text-link .link a {
  color: yellow;
}

/* line 48, ../sass/banner-ads/_banner-system.scss */
.banner_style_title-image {
  margin: 0 0 1.5em 0;
}

/* line 53, ../sass/banner-ads/_banner-system.scss */
.banner_style_title-image-text {
  margin: 0 0 1.5em 0;
  padding: 0 1em 0 0;
}
/* line 51, ../sass/banner-ads/_title-image-text.scss */
.banner_style_title-image-text a {
  color: #cccccc;
}
/* line 82, ../sass/banner-ads/_title-image-text.scss */
.banner_style_title-image-text .title {
  color: #cccccc;
  font-size: 0.6875em;
  margin: 0 0 0.5em;
}
/* line 108, ../sass/banner-ads/_title-image-text.scss */
.banner_style_title-image-text .title a {
  color: #cccccc;
}
/* line 114, ../sass/banner-ads/_title-image-text.scss */
.banner_style_title-image-text .img {
  float: left;
  margin: 0 0.25em 0.5em 0;
  width: 50%;
}

/* line 66, ../sass/banner-ads/_banner-system.scss */
.banner_style_title-image-text-link {
  margin: 0 0 1.5em 0;
  padding: 0 1em 0 0;
}
/* line 40, ../sass/banner-ads/_title-image-text-link.scss */
.banner_style_title-image-text-link a {
  color: #cccccc;
}
/* line 45, ../sass/banner-ads/_title-image-text-link.scss */
.banner_style_title-image-text-link .title {
  font-size: 0.6875em;
  color: #cccccc;
  margin: 0 0 0.5em;
}
/* line 56, ../sass/banner-ads/_title-image-text-link.scss */
.banner_style_title-image-text-link .title a {
  color: #cccccc;
}
/* line 62, ../sass/banner-ads/_title-image-text-link.scss */
.banner_style_title-image-text-link .img {
  float: left;
  margin: 0 0.25em 0.5em 0;
  width: 50%;
}
/* line 79, ../sass/banner-ads/_title-image-text-link.scss */
.banner_style_title-image-text-link .desc {
  margin: 0 0 1em 0;
}
/* line 87, ../sass/banner-ads/_title-image-text-link.scss */
.banner_style_title-image-text-link .link a {
  color: yellow;
}

/* line 121, ../sass/banner-ads/_banner-system.scss */
.logged-in .view-banner-location {
  padding-top: 25px;
  position: relative;
}
/* line 125, ../sass/banner-ads/_banner-system.scss */
.view-banner-location .edit-link {
  position: absolute;
  left: 0;
  top: -25px;
}
/* line 130, ../sass/banner-ads/_banner-system.scss */
.view-banner-location .edit-link.banner_loc {
  left: auto;
  right: 1em;
}
/* line 134, ../sass/banner-ads/_banner-system.scss */
.view-banner-location .edit-link + div {
  clear: both;
}

@font-face {
  font-family: "baseline";
  src: url("/sites/baseline/themes/sitetheme/fonts/baseline.eot?-vc38eg");
  src: url("/sites/baseline/themes/sitetheme/fonts/baseline.eot?#iefix-vc38eg") format("embedded-opentype"), url("/sites/baseline/themes/sitetheme/fonts/baseline.woff?-vc38eg") format("woff"), url("/sites/baseline/themes/sitetheme/fonts/baseline.ttf?-vc38eg") format("truetype"), url("/sites/baseline/themes/sitetheme/fonts/baseline.svg?-vc38eg#baseline") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 28, ../sass/_iconfonts.scss */
[class^="icon-"]:before, [class^="icon-"]:after,
[class^="icon-"] .pseudo-after,
[class^="icon-"] .pseudo-before,
[class*=" icon-"]:before,
[class*=" icon-"]:after,
[class*=" icon-"] .pseudo-after,
[class*=" icon-"] .pseudo-before,
#block-system-main-menu .block-title:before,
#block-system-main-menu .block-title:after,
#block-system-main-menu .block-title .pseudo-after,
#block-system-main-menu .block-title .pseudo-before {
  font-family: "baseline";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  text-decoration: none;
}
/* line 47, ../sass/_iconfonts.scss */
[class^="icon-"]:before:hover, [class^="icon-"]:after:hover,
[class^="icon-"] .pseudo-after:hover,
[class^="icon-"] .pseudo-before:hover,
[class*=" icon-"]:before:hover,
[class*=" icon-"]:after:hover,
[class*=" icon-"] .pseudo-after:hover,
[class*=" icon-"] .pseudo-before:hover,
#block-system-main-menu .block-title:before:hover,
#block-system-main-menu .block-title:after:hover,
#block-system-main-menu .block-title .pseudo-after:hover,
#block-system-main-menu .block-title .pseudo-before:hover {
  text-decoration: none !important;
}

/* line 60, ../sass/_iconfonts.scss */
.icon-facebook:before {
  content: "\e606";
}

/* line 66, ../sass/_iconfonts.scss */
.icon-navicon:before,
#block-system-main-menu .block-title:before {
  content: "\e609";
}

/* line 72, ../sass/_iconfonts.scss */
.icon-twitter:before {
  content: "\e602";
}

/* line 79, ../sass/_iconfonts.scss */
.icon-facebook-r:before {
  content: "\e606";
}

/* line 85, ../sass/_iconfonts.scss */
.icon-navicon-r:before {
  content: "\e609";
}

/* line 91, ../sass/_iconfonts.scss */
.icon-twitter-r:before {
  content: "\e602";
}

/* line 98, ../sass/_iconfonts.scss */
.lt-ie8 .icon-facebook .pseudo-before {
  zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe606;');
}
/* line 103, ../sass/_iconfonts.scss */
.lt-ie8 .icon-navicon .pseudo-before {
  zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe609;');
}
/* line 108, ../sass/_iconfonts.scss */
.lt-ie8 .icon-twitter .pseudo-before {
  zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe602;');
}

/* line 7, ../sass/_extendables.scss */
h1, .title-type-h1 .title {
  color: #cccccc;
  font-size: 2.25em;
  font-weight: normal;
  line-height: 1.25;
  margin: 0;
  text-transform: uppercase;
}
/* line 467, ../sass/mixins/_mixins.scss */
h1 a, .title-type-h1 .title a {
  color: #cccccc;
}
/* line 470, ../sass/mixins/_mixins.scss */
h1 a:hover, .title-type-h1 .title a:hover {
  text-decoration: underline;
}

/* line 17, ../sass/_extendables.scss */
h2, .title-type-h2 .title, .listing-block .title, .field-name-field-title-on-web {
  color: #cccccc;
  font-size: 2.25em;
  font-weight: normal;
  line-height: 1;
  margin: 0.27778em 0;
  text-transform: uppercase;
}
/* line 467, ../sass/mixins/_mixins.scss */
h2 a, .title-type-h2 .title a, .listing-block .title a, .field-name-field-title-on-web a {
  color: #cccccc;
}
/* line 470, ../sass/mixins/_mixins.scss */
h2 a:hover, .title-type-h2 .title a:hover, .listing-block .title a:hover, .field-name-field-title-on-web a:hover {
  text-decoration: underline;
}

/* line 26, ../sass/_extendables.scss */
h3, .title-type-h3 .title {
  color: #cccccc;
  font-size: 1.125em;
  font-weight: bold;
  line-height: 1;
  margin: 0.625em 0;
}
/* line 467, ../sass/mixins/_mixins.scss */
h3 a, .title-type-h3 .title a {
  color: #cccccc;
}
/* line 470, ../sass/mixins/_mixins.scss */
h3 a:hover, .title-type-h3 .title a:hover {
  text-decoration: underline;
}

/* line 39, ../sass/_extendables.scss */
.merch-box-title {
  font-size: 2em;
}

/* line 43, ../sass/_extendables.scss */
.merch-box-sub-title {
  font-size: 1.5em;
}

/* line 47, ../sass/_extendables.scss */
.merch-box-detail-text {
  font-size: 1.15em;
}

/* line 51, ../sass/_extendables.scss */
.merch-box-fine-print {
  font-size: 0.6em;
}

/* line 58, ../sass/_extendables.scss */
.field-name-field-slider-overlay,
.field-name-field-field-slider-overlay {
  background: NULL;
  border: 1px solid;
  border-left: 0 none;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  height: NULL;
  max-height: NULL;
  padding: 0.625em 1.25em;
  position: absolute;
  top: NULL;
  left: 0;
  width: 40%;
  z-index: 100;
}
/* line 137, ../sass/mixins/_mixins.scss */
.lt-ie9 .field-name-field-slider-overlay,
.lt-ie9 .field-name-field-field-slider-overlay {
  -pie-background: rgba(255, 255, 255, 0.9);
  behavior: url("/sites/baseline/themes/sitetheme/PIE.htc");
}

/* line 80, ../sass/_extendables.scss */
.btn, .banner_style_image-title-text-link .link a, .banner_style_image-text-link .link a, .banner_style_title-image-text-link .link a,
button,
input[type=submit] {
  background: #cccccc;
  border: 0 none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 0.875em;
  line-height: 1.25;
  padding: 3px 10px;
  text-decoration: none;
}
/* line 137, ../sass/mixins/_mixins.scss */
.lt-ie9 .btn, .lt-ie9 .banner_style_image-title-text-link .link a, .banner_style_image-title-text-link .link .lt-ie9 a, .lt-ie9 .banner_style_image-text-link .link a, .banner_style_image-text-link .link .lt-ie9 a, .lt-ie9 .banner_style_title-image-text-link .link a, .banner_style_title-image-text-link .link .lt-ie9 a, .lt-ie9
button, .lt-ie9
input[type=submit] {
  behavior: url("/sites/baseline/themes/sitetheme/PIE.htc");
  position: relative;
}
/* line 641, ../sass/mixins/_mixins.scss */
.btn:hover, .banner_style_image-title-text-link .link a:hover, .banner_style_image-text-link .link a:hover, .banner_style_title-image-text-link .link a:hover,
button:hover,
input[type=submit]:hover {
  text-decoration: none;
}

/* line 93, ../sass/_extendables.scss */
.btn-muted {
  background: #cccccc;
  border: 0 none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 0.875em;
  line-height: 1.25;
  padding: 3px 10px;
  text-decoration: none;
}
/* line 137, ../sass/mixins/_mixins.scss */
.lt-ie9 .btn-muted {
  behavior: url("/sites/baseline/themes/sitetheme/PIE.htc");
  position: relative;
}
/* line 641, ../sass/mixins/_mixins.scss */
.btn-muted:hover {
  text-decoration: none;
}

/* line 146, ../sass/_extendables.scss */
.halo-border,
.banner_style_image-title-text-link .img img,
.banner_style_image-text-link .img img,
.banner_style_title-image .img img,
.banner_style_title-image-text .img img,
.banner_style_title-image-text-link .img img,
.listing-block .img img,
.field-name-field-image {
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.75);
  padding: 1px;
}
/* line 137, ../sass/mixins/_mixins.scss */
.lt-ie9 .halo-border, .lt-ie9 .banner_style_image-title-text-link .img img, .banner_style_image-title-text-link .img .lt-ie9 img, .lt-ie9 .banner_style_image-text-link .img img, .banner_style_image-text-link .img .lt-ie9 img, .lt-ie9 .banner_style_title-image .img img, .banner_style_title-image .img .lt-ie9 img, .lt-ie9 .banner_style_title-image-text .img img, .banner_style_title-image-text .img .lt-ie9 img, .lt-ie9 .banner_style_title-image-text-link .img img, .banner_style_title-image-text-link .img .lt-ie9 img, .lt-ie9 .listing-block .img img, .listing-block .img .lt-ie9 img, .lt-ie9
.field-name-field-image {
  border: 1px solid #FFF;
  behavior: url("/sites/baseline/themes/sitetheme/PIE.htc");
  position: relative;
}

/* line 166, ../sass/_extendables.scss */
.listing-block .views-row {
  position: relative;
}

/* line 175, ../sass/_extendables.scss */
.listing-block .title {
  color: #cccccc;
}
/* line 1210, ../sass/mixins/_mixins.scss */
.listing-block .title a {
  color: #cccccc;
  text-decoration: none;
}
/* line 1221, ../sass/mixins/_mixins.scss */
.listing-block .title a:hover {
  text-decoration: underline;
}

/* line 183, ../sass/_extendables.scss */
.listing-block .img {
  float: left;
  margin: 0.3em 1.5em 1em 0;
}

/* line 1298, ../sass/mixins/_mixins.scss */
.listing-block .date a:hover, .listing-block .desc a:hover {
  text-decoration: underline;
}

/* line 212, ../sass/_extendables.scss */
.listing-block .title {
  margin-top: 0;
}

/* line 17, ../sass/menu/_menu-system.scss */
#block-system-main-menu {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 137, ../sass/mixins/_mixins.scss */
.lt-ie9 #block-system-main-menu {
  behavior: url("/sites/baseline/themes/sitetheme/PIE.htc");
  position: relative;
}
/* line 126, ../sass/menu/_menu-horizontal-inline.scss */
#block-system-main-menu .menu {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
/* line 205, ../sass/menu/_menu-horizontal-inline.scss */
#block-system-main-menu .menu li {
  list-style: none;
  list-style-image: none;
  float: left;
  width: 25%;
}
/* line 292, ../sass/menu/_menu-horizontal-inline.scss */
#block-system-main-menu .menu a {
  background: #cccccc;
  color: #aaaaaa;
  padding: 5px;
  text-decoration: none;
}
/* line 349, ../sass/menu/_menu-horizontal-inline.scss */
#block-system-main-menu .menu a:hover {
  background: #aaaaaa;
  color: #cccccc;
  text-decoration: none;
}
/* line 363, ../sass/menu/_menu-horizontal-inline.scss */
#block-system-main-menu .menu a.active {
  background: #aaaaaa;
  color: #cccccc;
}
/* line 371, ../sass/menu/_menu-horizontal-inline.scss */
#block-system-main-menu .menu a.active:hover {
  background: #aaaaaa;
  color: #cccccc;
}

/* line 39, ../sass/menu/_menu-system.scss */
#block-system-main-menu .block-title {
  background: white;
  border: 1px solid #cccccc;
  cursor: pointer;
  float: right;
  font-size: 1.25em;
  height: 36px;
  line-height: 28px;
  margin: 0;
  padding: 0 7px 0 36px;
}
/* line 175, ../sass/menu/_navicon.scss */
#block-system-main-menu .block-title + * {
  clear: both;
}
/* line 191, ../sass/menu/_navicon.scss */
#block-system-main-menu .block-title:before {
  font-size: 24px;
  line-height: 1;
  position: absolute;
  top: 0.175em;
  left: 0.15em;
}
@media only screen and (max-width: 1039px) {
  /* line 39, ../sass/menu/_menu-system.scss */
  #block-system-main-menu .block-title {
    clip: auto;
    position: relative !important;
  }
}

/* line 15, ../sass/_main-site-style.scss */
.block_header_geo {
  position: relative;
}

/* line 23, ../sass/_main-site-style.scss */
#block-system-main-menu {
  font-size: 0.875em;
}

/* line 44, ../sass/_main-site-style.scss */
.section-user form {
  width: 50%;
}

/* line 48, ../sass/_main-site-style.scss */
.form-item {
  margin: 0.5em 0;
}

/* line 60, ../sass/_main-site-style.scss */
.block-title a {
  color: #cccccc;
}

/* line 68, ../sass/_main-site-style.scss */
.node-page {
  position: relative;
}

/* line 75, ../sass/_main-site-style.scss */
.field-name-field-image {
  clear: left;
}

/* line 94, ../sass/_main-site-style.scss */
#footer {
  font-size: 0.875em;
  line-height: 1.5;
}

/* line 99, ../sass/_main-site-style.scss */
.block_copyright {
  clear: both;
  text-align: center;
}

/* line 108, ../sass/_main-site-style.scss */
.flexslider {
  background: none;
  border: 0 none;
  box-shadow: none;
}
/* line 137, ../sass/mixins/_mixins.scss */
.lt-ie9 .flexslider .slides > li {
  filter: none !important;
}
/* line 121, ../sass/_main-site-style.scss */
.flexslider .slides img {
  max-width: 100%;
  width: auto;
}
