/* line 7, ../sass/extendables/_extendables.scss */
.published-No,
.node-unpublished, .role-administrator .listing-block .views-row, .listing-block .role-administrator .views-row, .role-administrator .view-display-id-homepage_blog_listing article, .view-display-id-homepage_blog_listing .role-administrator article, .role-administrator .view-display-id-rotating_sponsor_logos .slides li, .view-display-id-rotating_sponsor_logos .slides .role-administrator li, .role-administrator .view-display-id-speakers_and_rabblerousers article, .view-display-id-speakers_and_rabblerousers .role-administrator article, .role-administrator .view-display-id-page_sponsors .event-sponsor, .view-display-id-page_sponsors .role-administrator .event-sponsor, .role-administrator .view-display-id-sponsors_all .sponsor, .view-display-id-sponsors_all .role-administrator .sponsor, .role-administrator .view-display-id-blog_listing_page .blog-article, .view-display-id-blog_listing_page .role-administrator .blog-article, .role-administrator .view-display-id-footer_sponsors .sponsor, .view-display-id-footer_sponsors .role-administrator .sponsor, .role-administrator .view-display-id-footer_sponsors_all .sponsor, .view-display-id-footer_sponsors_all .role-administrator .sponsor, .role-administrator .banner-style, #page, #main, #content, #sidebar, #header-inner, .block-homepage_image_nav .content li, .node-session .social {
  position: relative;
}

/* line 11, ../sass/extendables/_extendables.scss */
.not-logged-in #main-menu .links.menu-1190, #main-menu-inner .close,
.hidden {
  display: none;
}

/* line 15, ../sass/extendables/_extendables.scss */
#skip-link a,
#skip-link a:visited, .front #page-title,
.invisible {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

/* line 19, ../sass/extendables/_extendables.scss */
.visible {
  clip: auto;
  position: static !important;
}

/* line 27, ../sass/extendables/_extendables.scss */
.master-color {
  color: #d52027 !important;
}

/* line 32, ../sass/extendables/_extendables.scss */
#name-and-slogan a, .block-social .content a,
.secondary-color {
  color: black !important;
}

/* line 36, ../sass/extendables/_extendables.scss */
.block_conference-date, .block-social .content a:hover, .front .node,
.accent-color {
  color: white !important;
}

/* line 40, ../sass/extendables/_extendables.scss */
.view-display-id-speakers_and_rabblerousers .session-link,
.text-color {
  color: #333333 !important;
}

/* line 45, ../sass/extendables/_extendables.scss */
#page, #header,
.bg-master-color {
  background-color: #d52027;
}

/* line 50, ../sass/extendables/_extendables.scss */
.bg-secondary-color {
  background-color: black;
}

/* line 54, ../sass/extendables/_extendables.scss */
html, #main, #page-title, #main-menu-inner .close, .view-display-id-footer_sponsors_all,
.bg-accent-color {
  background-color: white;
}

/* line 58, ../sass/extendables/_extendables.scss */
.bg-text-color {
  background-color: #333333;
}

/* line 64, ../sass/extendables/_extendables.scss */
.published-No,
.node-unpublished {
  background-color: #ffffcc !important;
}
/* line 68, ../sass/extendables/_extendables.scss */
.published-No:before,
.node-unpublished:before {
  content: "unpublished";
  color: #F00;
  font-size: 11px;
  position: absolute;
  right: 0;
  top: 0;
}

/* line 81, ../sass/extendables/_extendables.scss */
.block-social .content ul, .block-homepage_image_nav .content ul, p {
  margin: 0;
  padding: 0;
}

/* line 85, ../sass/extendables/_extendables.scss */
#header .block, .flexslider {
  margin: 0;
}

/* line 88, ../sass/extendables/_extendables.scss */
.block_copyright {
  margin-bottom: 0;
}

/* line 94, ../sass/extendables/_extendables.scss */
.listing-block .date, .listing-block .desc, .toboggan-unified #login-message, .view-display-id-speakers_and_rabblerousers .img {
  margin-bottom: 0.5em;
}

/* line 100, ../sass/extendables/_extendables.scss */
.listing-block .views-row, .view-display-id-homepage_blog_listing article, .view-display-id-sponsors_all .sponsor, .view-display-id-blog_listing_page .blog-article {
  margin-bottom: 1.5em;
}

/* line 109, ../sass/extendables/_extendables.scss */
.block, .view-display-id-accepted_sessions_page .session, .node {
  margin-bottom: 3em;
}

/* line 120, ../sass/extendables/_extendables.scss */
.c-f-w {
  clear: both;
  float: left;
  width: 100%;
}

/* line 124, ../sass/extendables/_extendables.scss */
.display-block,
#main-menu .links,
#main-menu .links li,
#main-menu .links a,
.block-social .content [class^="icon-"]:after,
.block-social .content [class*=" icon-"]:after,
.view-display-id-accepted_sessions_page .user-picture img,
.view-display-id-speakers_and_rabblerousers .img .user-picture,
.node-session .user-picture img {
  display: block !important;
}

/* line 129, ../sass/extendables/_extendables.scss */
.contents-inline > * {
  display: inline;
}

/* line 133, ../sass/extendables/_extendables.scss */
.toboggan-unified #login-links a, .block-social .content ul li, .block-social .content [class^="icon-"],
.block-social .content [class*=" icon-"] {
  display: -moz-inline-stack;
  display: inline-block;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  /*
  	//:: use this for places that cannot be extended
  	display: -moz-inline-stack;
  	display: inline-block;
  	*vertical-align: auto;
  	zoom: 1;
  	*display: inline;
  */
}

/* line 144, ../sass/extendables/_extendables.scss */
.block-homepage_image_nav .content img, .view-display-id-speakers_and_rabblerousers .img img {
  display: block;
  margin: 0 auto;
}

/* line 156, ../sass/extendables/_extendables.scss */
.role-administrator .listing-block .views-row, .listing-block .role-administrator .views-row, .role-administrator .view-display-id-homepage_blog_listing article, .view-display-id-homepage_blog_listing .role-administrator article, .role-administrator .view-display-id-rotating_sponsor_logos .slides li, .view-display-id-rotating_sponsor_logos .slides .role-administrator li, .role-administrator .view-display-id-speakers_and_rabblerousers article, .view-display-id-speakers_and_rabblerousers .role-administrator article, .role-administrator .view-display-id-page_sponsors .event-sponsor, .view-display-id-page_sponsors .role-administrator .event-sponsor, .role-administrator .view-display-id-sponsors_all .sponsor, .view-display-id-sponsors_all .role-administrator .sponsor, .role-administrator .view-display-id-blog_listing_page .blog-article, .view-display-id-blog_listing_page .role-administrator .blog-article, .role-administrator .view-display-id-footer_sponsors .sponsor, .view-display-id-footer_sponsors .role-administrator .sponsor, .role-administrator .view-display-id-footer_sponsors_all .sponsor, .view-display-id-footer_sponsors_all .role-administrator .sponsor, .role-administrator .banner-style {
  padding-top: 25px !important;
}
/* line 160, ../sass/extendables/_extendables.scss */
.listing-block .views-row .edit-link, .view-display-id-homepage_blog_listing article .edit-link, .view-display-id-rotating_sponsor_logos .slides li .edit-link, .view-display-id-speakers_and_rabblerousers article .edit-link, .view-display-id-page_sponsors .event-sponsor .edit-link, .view-display-id-sponsors_all .sponsor .edit-link, .view-display-id-blog_listing_page .blog-article .edit-link, .view-display-id-footer_sponsors .sponsor .edit-link, .view-display-id-footer_sponsors_all .sponsor .edit-link, .banner-style .edit-link {
  position: absolute;
  left: 0;
  text-transform: lowercase;
  top: 0;
}
/* line 166, ../sass/extendables/_extendables.scss */
.listing-block .views-row .edit-link-2, .view-display-id-homepage_blog_listing article .edit-link-2, .view-display-id-rotating_sponsor_logos .slides li .edit-link-2, .view-display-id-speakers_and_rabblerousers article .edit-link-2, .view-display-id-page_sponsors .event-sponsor .edit-link-2, .view-display-id-sponsors_all .sponsor .edit-link-2, .view-display-id-blog_listing_page .blog-article .edit-link-2, .view-display-id-footer_sponsors .sponsor .edit-link-2, .view-display-id-footer_sponsors_all .sponsor .edit-link-2, .banner-style .edit-link-2 {
  left: auto;
  right: 0;
}

/* line 175, ../sass/extendables/_extendables.scss */
.block-social .content ul, .block-homepage_image_nav .content ul {
  list-style: none;
  list-style-image: none;
}

/* line 182, ../sass/mixins/_mixins.scss */
.listing-block .views-row:after, #header #header-inner:after, #main-menu #main-menu-inner:after, #main .tabs-primary:after,
#main .action-links:after, #page-title:after, .region-sidebar-first:after, .block-social:after, .block-homepage_image_nav .content ul:after, .view-display-id-accepted_sessions_page .session:after, .view-display-id-speakers_and_rabblerousers .view-content:after, .view-display-id-footer_sponsors_all:after, .view-display-id-footer_sponsors_all > .view-content:after,
.listing-block .views-row .pseudo-clear,
#header #header-inner .pseudo-clear,
#main-menu #main-menu-inner .pseudo-clear,
#main .tabs-primary .pseudo-clear,
#main .action-links .pseudo-clear,
#page-title .pseudo-clear,
.region-sidebar-first .pseudo-clear,
.block-social .pseudo-clear,
.block-homepage_image_nav .content ul .pseudo-clear,
.view-display-id-accepted_sessions_page .session .pseudo-clear,
.view-display-id-speakers_and_rabblerousers .view-content .pseudo-clear,
.view-display-id-footer_sponsors_all .pseudo-clear {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 197, ../sass/extendables/_extendables.scss */
.node-session .social a {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

/* line 209, ../sass/extendables/_extendables.scss */
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url], textarea {
  background: #f3efe7;
  border: 1px dashed #333333;
  color: #666666;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: normal;
  padding: 13px;
  width: 100%;
}
/* line 164, ../sass/mixins/_mixins.scss */
.lt-ie9 input[type=email],
.lt-ie9 input[type=number],
.lt-ie9 input[type=password],
.lt-ie9 input[type=search],
.lt-ie9 input[type=tel],
.lt-ie9 input[type=text],
.lt-ie9 input[type=url], .lt-ie9 textarea {
  behavior: url("/sites/all/themes/sitetheme/PIE.htc");
  position: relative;
}

/* line 295, ../sass/extendables/_extendables.scss */
ul {
  list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAALElEQVQYV2NkIBIwEqmOAV3hfzSNcHlkheiKYHrAagaJQpBTiPIM3pAiOhwBAzQGCxUtVEYAAAAASUVORK5CYII=");
}

/* line 312, ../sass/extendables/_extendables.scss */
.left-floated-img {
  float: left;
  margin: 0 2em 0.5em 0;
}
@media only screen and (max-width: 600px) {
  /* line 312, ../sass/extendables/_extendables.scss */
  .left-floated-img {
    display: block;
    float: none !important;
    margin: 0 auto 1em;
  }
}

/* line 329, ../sass/extendables/_extendables.scss */
.edit-link a {
  background: #d52027;
  border: 1px solid black;
  -webkit-box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  color: yellow !important;
  cursor: pointer;
  float: left;
  font-size: 11px;
  line-height: 1;
  padding: 3px 5px;
  text-decoration: none;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
}
/* line 164, ../sass/mixins/_mixins.scss */
.lt-ie9 .edit-link a {
  behavior: url("/sites/all/themes/sitetheme/PIE.htc");
  position: relative;
}
/* line 679, ../sass/mixins/_mixins.scss */
.edit-link a:hover {
  text-decoration: none;
}

/* line 7, ../sass/skin-bilateral/_extendables.scss */
#page, #main .tabs-primary,
#main .action-links {
  margin-left: auto;
  margin-right: auto;
  max-width: 1040px;
  padding: 0 70px;
  width: 100%;
}
/* line 14, ../sass/skin-bilateral/_extendables.scss */
.lt-ie9 #page, .lt-ie9 #main .tabs-primary, #main .lt-ie9 .tabs-primary,
.lt-ie9 #main .action-links,
#main .lt-ie9 .action-links {
  max-width: 900px;
}

/*
  font-family:'Avenir Next W04 Bold';
  font-family:'AvenirNextLTW01-DemiCnS';
  font-family:'AvenirNextW01-CnLight';
  font-family:'AvenirNextLTW01-Condens 727663';
  font-family:'AvenirNextLTW01-CnItSC';
  font-family:'Avenir Next W02 Thin';
  font-family:'AvenirNextW02-ThinItali';
  font-family:'AvenirNextLTW01-MediumS';
  font-family:'AvenirNextLTW01-MediumI 727649';
  font-family:'AvenirNextW01-CnLightIt';
  font-family:'Avenir Next W02 Light';
  font-family:'AvenirNextW02-LightItal';
  font-family:'GaramondClassico W00';
  font-family:'GaramondClassico W00 SC';
*/
/* line 24, ../sass/_extendables.scss */
code,
pre,
kbd,
samp,
var {
  font-family: Menlo, Consolas, "Andale Mono", "Lucida Console", "Nimbus Mono L", "DejaVu Sans Mono", monospace, "Courier New";
}

/* line 27, ../sass/_extendables.scss */
.form-item label.option {
  font-family: 'Avenir Next W02 Light', Helvetica, Arial, sans-serif;
  font-weight: normal;
}

/* line 31, ../sass/_extendables.scss */
em,
i {
  font-family: 'AvenirNextW02-ThinItali', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

/* line 36, ../sass/_extendables.scss */
.btn,
button,
input[type=submit], strong,
b, fieldset legend {
  font-family: 'AvenirNextLTW01-MediumS', Helvetica, Arial, sans-serif;
  font-weight: normal;
}

/* line 40, ../sass/_extendables.scss */
strong em,
strong i,
b em,
b i, em strong,
em b,
i strong,
i b {
  font-family: 'AvenirNextLTW01-MediumI 727649', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

/* line 45, ../sass/_extendables.scss */
.listing-block .title, h2, .title-type-h2 .title, #name-and-slogan a, #main-menu .links a, .block_conference-date .content, .block-homepage_image_nav .content, .view-display-id-homepage_blog_listing .title, .view-display-id-speakers_and_rabblerousers .name, .front .node-page .desc, #content .node-page .desc a {
  font-family: 'Avenir Next W04 Bold', Helvetica, Arial, sans-serif;
  font-weight: normal;
}

/* line 49, ../sass/_extendables.scss */
.overview {
  font-family: 'AvenirNextW01-CnLight', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

/* line 54, ../sass/_extendables.scss */
h1, .title-type-h1 .title, .label {
  font-family: 'AvenirNextLTW01-DemiCnS', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

/* line 59, ../sass/_extendables.scss */
.post-date,
.author, .read-more, .form-item label, .block-buildamodule_plug .content, .view-display-id-homepage_blog_listing .date, .view-display-id-speakers_and_rabblerousers .organization {
  font-family: 'GaramondClassico W00', "Times New Roman", Times, serif;
  font-weight: normal;
}

/* line 63, ../sass/_extendables.scss */
#content p a {
  font-family: 'GaramondClassico W00 SC', "Times New Roman", Times, serif;
  font-weight: normal;
}

/* line 69, ../sass/_extendables.scss */
h1, .title-type-h1 .title {
  color: #d52027;
  font-size: 2.25em;
  font-weight: normal;
  line-height: 1.25;
  margin: 0 0 0.27778em;
  text-transform: uppercase;
}
/* line 501, ../sass/mixins/_mixins.scss */
h1 a, .title-type-h1 .title a {
  color: #d52027;
}
/* line 505, ../sass/mixins/_mixins.scss */
h1 a:hover, .title-type-h1 .title a:hover {
  text-decoration: underline;
}

/* line 79, ../sass/_extendables.scss */
.listing-block .title, h2, .title-type-h2 .title {
  color: #333333;
  font-size: 1.125em;
  font-weight: bold;
  line-height: 1;
  margin: 0.27778em 0;
  text-transform: uppercase;
}
/* line 501, ../sass/mixins/_mixins.scss */
.listing-block .title a, h2 a, .title-type-h2 .title a {
  color: #333333;
}
/* line 505, ../sass/mixins/_mixins.scss */
.listing-block .title a:hover, h2 a:hover, .title-type-h2 .title a:hover {
  text-decoration: underline;
}

/* line 90, ../sass/_extendables.scss */
h3, .title-type-h3 .title {
  color: #333333;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  margin: 0.625em 0;
}
/* line 501, ../sass/mixins/_mixins.scss */
h3 a, .title-type-h3 .title a {
  color: #333333;
}
/* line 505, ../sass/mixins/_mixins.scss */
h3 a:hover, .title-type-h3 .title a:hover {
  text-decoration: underline;
}

/* line 104, ../sass/_extendables.scss */
#skip-link a,
#skip-link a:visited {
  background: white;
  color: #d52027;
  cursor: pointer;
  height: 38px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  top: 135px;
  right: 50px;
  width: 34px;
  z-index: 100;
}
/* line 185, ../sass/menu/_navicon.scss */
#skip-link a + *,
#skip-link a:visited + * {
  clear: both;
}
/* line 201, ../sass/menu/_navicon.scss */
#skip-link a:before,
#skip-link a:visited:before {
  font-size: 40px;
  line-height: 1;
  position: absolute;
  top: 0;
  left: 0;
}
@media only screen and (max-width: 479px) {
  /* line 104, ../sass/_extendables.scss */
  #skip-link a,
  #skip-link a:visited {
    top: 165px;
  }
}
@media only screen and (max-width: 599px) {
  /* line 104, ../sass/_extendables.scss */
  #skip-link a,
  #skip-link a:visited {
    clip: auto;
  }
}

/* line 135, ../sass/mixins/_mixins.scss */
q:before, q:after {
  color: #d52027;
  font-size: 1.5em;
  font-style: italic;
}
/* line 148, ../sass/mixins/_mixins.scss */
q:before {
  content: "\201C";
}
/* line 153, ../sass/mixins/_mixins.scss */
q:after {
  content: "\201D";
}

/* line 135, ../sass/mixins/_mixins.scss */
blockquote:before, blockquote:after {
  color: #d52027;
  font-size: 1.75em;
  font-style: italic;
}
/* line 148, ../sass/mixins/_mixins.scss */
blockquote:before {
  content: "\201C";
}
/* line 153, ../sass/mixins/_mixins.scss */
blockquote:after {
  content: "\201D";
}

/* line 140, ../sass/_extendables.scss */
.merch-box-title {
  font-size: 2em;
}

/* line 144, ../sass/_extendables.scss */
.merch-box-sub-title {
  font-size: 1.5em;
}

/* line 148, ../sass/_extendables.scss */
.merch-box-detail-text {
  font-size: 1.15em;
}

/* line 152, ../sass/_extendables.scss */
.merch-box-fine-print {
  font-size: 0.6em;
}

/* line 181, ../sass/_extendables.scss */
.btn,
button,
input[type=submit] {
  background: #d52027;
  border: 0 none;
  color: white;
  cursor: pointer;
  font-size: 1em;
  line-height: 1.25;
  padding: 6px 16px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/* line 164, ../sass/mixins/_mixins.scss */
.lt-ie9 .btn, .lt-ie9
button, .lt-ie9
input[type=submit] {
  behavior: url("/sites/all/themes/sitetheme/PIE.htc");
  position: relative;
}
/* line 679, ../sass/mixins/_mixins.scss */
.btn:hover,
button:hover,
input[type=submit]:hover {
  text-decoration: none;
}
/* line 196, ../sass/_extendables.scss */
.btn:hover,
button:hover,
input[type=submit]:hover {
  background-color: #666;
}

/* line 201, ../sass/_extendables.scss */
.btn-muted {
  background: #d52027;
  border: 0 none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 0.875em;
  line-height: 1.25;
  padding: 3px 10px;
  text-decoration: none;
}
/* line 164, ../sass/mixins/_mixins.scss */
.lt-ie9 .btn-muted {
  behavior: url("/sites/all/themes/sitetheme/PIE.htc");
  position: relative;
}
/* line 679, ../sass/mixins/_mixins.scss */
.btn-muted:hover {
  text-decoration: none;
}

/* line 254, ../sass/_extendables.scss */
.halo-border,
.view-display-id-accepted_sessions_page .user-picture,
.view-display-id-speakers_and_rabblerousers .img .user-picture,
.node-session .user-picture {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #cccccc;
  padding: 5px;
}

/* line 271, ../sass/_extendables.scss */
.listing-block .views-row {
  position: relative;
}

/* line 280, ../sass/_extendables.scss */
.listing-block .title {
  color: #d52027;
}
/* line 1248, ../sass/mixins/_mixins.scss */
.listing-block .title a {
  color: #d52027;
  text-decoration: none;
}
/* line 1259, ../sass/mixins/_mixins.scss */
.listing-block .title a:hover {
  text-decoration: underline;
}

/* line 288, ../sass/_extendables.scss */
.listing-block .img {
  float: left;
  margin: 0.3em 1.5em 1em 0;
}

/* line 1336, ../sass/mixins/_mixins.scss */
.listing-block .date a:hover, .listing-block .desc a:hover {
  text-decoration: underline;
}

/* line 318, ../sass/_extendables.scss */
.listing-block .title {
  margin-top: 0;
}

/* line 8, ../sass/skin-bilateral/_tagbased.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 13, ../sass/skin-bilateral/_tagbased.scss */
a {
  color: #d52027;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  text-decoration: none;
}
/* line 24, ../sass/skin-bilateral/_tagbased.scss */
a:hover {
  text-decoration: underline;
}

/* line 36, ../sass/skin-bilateral/_tagbased.scss */
abbr[title] {
  border-bottom: 0 none;
}

/* line 39, ../sass/skin-bilateral/_tagbased.scss */
button {
  font-family: "Avenir Next W02 Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 46, ../sass/skin-bilateral/_tagbased.scss */
p.medium-top-margin {
  margin-top: 1.5;
}
/* line 49, ../sass/skin-bilateral/_tagbased.scss */
p.large-top-margin {
  margin-top: 3em;
}
/* line 52, ../sass/skin-bilateral/_tagbased.scss */
p + p {
  margin-top: 1em;
}

/* line 68, ../sass/skin-bilateral/_tagbased.scss */
img {
  max-height: 100%;
}

/* line 71, ../sass/skin-bilateral/_tagbased.scss */
iframe {
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
}

/* line 114, ../sass/skin-bilateral/_tagbased.scss */
h2.medium-top-margin {
  margin-top: 2.5em;
}
/* line 117, ../sass/skin-bilateral/_tagbased.scss */
h2.large-top-margin {
  margin-top: 3.33333em;
}

/* line 124, ../sass/skin-bilateral/_tagbased.scss */
h3.medium-top-margin {
  margin-top: 1.66667em;
}
/* line 127, ../sass/skin-bilateral/_tagbased.scss */
h3.large-top-margin {
  margin-top: 3.75em;
}

/* line 150, ../sass/skin-bilateral/_tagbased.scss */
::selection {
  background: #d52027;
  color: #FFF;
}

/* line 154, ../sass/skin-bilateral/_tagbased.scss */
::-moz-selection {
  background: #d52027;
  color: #FFF;
}

/* line 161, ../sass/skin-bilateral/_tagbased.scss */
::-webkit-input-placeholder {
  color: #aaaaaa;
}

/* line 164, ../sass/skin-bilateral/_tagbased.scss */
:-moz-placeholder {
  color: #aaaaaa;
}

/* line 167, ../sass/skin-bilateral/_tagbased.scss */
::-moz-placeholder {
  color: #aaaaaa;
}

/* line 170, ../sass/skin-bilateral/_tagbased.scss */
:-ms-input-placeholder {
  color: #aaaaaa;
}

/* line 23, ../sass/skin-bilateral/_structure.scss */
body {
  color: #333333;
  font: 100%/1.8 "Avenir Next W02 Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 109, ../sass/skin-bilateral/_structure.scss */
.region-header {
  clear: none;
  float: left;
  min-height: 70px;
  width: 66.66667%;
}

/* line 247, ../sass/skin-bilateral/_structure.scss */
#main {
  padding-top: 5em;
}

/* line 284, ../sass/skin-bilateral/_structure.scss */
#content {
  float: right;
  padding: 0 30px;
  width: 66.66667%;
}
/* line 297, ../sass/skin-bilateral/_structure.scss */
.sidebar-first #content {
  float: none;
  margin: 0;
  padding: 0;
}

/* line 343, ../sass/skin-bilateral/_structure.scss */
#sidebar {
  float: left;
  padding: 0 30px;
  width: 33.33333%;
}

/* line 389, ../sass/skin-bilateral/_structure.scss */
.region-sidebar-first .sidebar-first {
  float: none;
  margin: 0;
  padding: 0;
  width: auto;
}

/* line 426, ../sass/skin-bilateral/_structure.scss */
#footer {
  padding-bottom: 1.25em;
  padding-top: 1.25em;
}

@font-face {
  font-family: "newdcamp";
  src: url("/sites/all/themes/sitetheme/fonts/newdcamp.eot?-vc38eg");
  src: url("/sites/all/themes/sitetheme/fonts/newdcamp.eot?#iefix-vc38eg") format("embedded-opentype"), url("/sites/all/themes/sitetheme/fonts/newdcamp.woff?-vc38eg") format("woff"), url("/sites/all/themes/sitetheme/fonts/newdcamp.ttf?-vc38eg") format("truetype"), url("/sites/all/themes/sitetheme/fonts/newdcamp.svg?-vc38eg#newdcamp") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 28, ../sass/iconfonts/_iconfonts.scss */
[class^="icon-"]:before, [class^="icon-"]:after,
[class^="icon-"] .pseudo-after,
[class^="icon-"] .pseudo-before,
[class*=" icon-"]:before,
[class*=" icon-"]:after,
[class*=" icon-"] .pseudo-after,
[class*=" icon-"] .pseudo-before,
#skip-link a:before,
#skip-link a:visited:before,
#skip-link a:after,
#skip-link a:visited:after,
#skip-link a .pseudo-after,
#skip-link a .pseudo-before {
  font-family: "newdcamp";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  text-decoration: none;
}
/* line 47, ../sass/iconfonts/_iconfonts.scss */
[class^="icon-"]:before:hover, [class^="icon-"]:after:hover,
[class^="icon-"] .pseudo-after:hover,
[class^="icon-"] .pseudo-before:hover,
[class*=" icon-"]:before:hover,
[class*=" icon-"]:after:hover,
[class*=" icon-"] .pseudo-after:hover,
[class*=" icon-"] .pseudo-before:hover,
#skip-link a:before:hover,
#skip-link a:after:hover,
#skip-link a .pseudo-after:hover,
#skip-link a .pseudo-before:hover {
  text-decoration: none !important;
}

/* line 8, ../sass/_iconfonts-definitions.scss */
.icon-pinterest:before {
  content: "\e600";
}

/* line 14, ../sass/_iconfonts-definitions.scss */
.icon-linkedin:before {
  content: "\e601";
}

/* line 20, ../sass/_iconfonts-definitions.scss */
.icon-youtube:before {
  content: "\e602";
}

/* line 26, ../sass/_iconfonts-definitions.scss */
.icon-navicon:before,
#skip-link a:before,
#skip-link a:visited:before {
  content: "\e603";
}

/* line 32, ../sass/_iconfonts-definitions.scss */
.icon-googleplus:before {
  content: "\e604";
}

/* line 38, ../sass/_iconfonts-definitions.scss */
.icon-facebook:before {
  content: "\e605";
}

/* line 44, ../sass/_iconfonts-definitions.scss */
.icon-twitter:before {
  content: "\e606";
}

/* line 99, ../sass/_iconfonts-definitions.scss */
.lt-ie8 .icon-pinterest .pseudo-before {
  zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe600;');
}
/* line 104, ../sass/_iconfonts-definitions.scss */
.lt-ie8 .icon-linkedin .pseudo-before {
  zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe601;');
}
/* line 109, ../sass/_iconfonts-definitions.scss */
.lt-ie8 .icon-youtube .pseudo-before {
  zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe602;');
}
/* line 114, ../sass/_iconfonts-definitions.scss */
.lt-ie8 .icon-navicon .pseudo-before {
  zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe603;');
}
/* line 119, ../sass/_iconfonts-definitions.scss */
.lt-ie8 .icon-googleplus .pseudo-before {
  zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe604;');
}
/* line 124, ../sass/_iconfonts-definitions.scss */
.lt-ie8 .icon-facebook .pseudo-before {
  zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe605;');
}
/* line 129, ../sass/_iconfonts-definitions.scss */
.lt-ie8 .icon-twitter .pseudo-before {
  zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe606;');
}

/* line 7, ../sass/_main-site-style.scss */
.nowrap {
  white-space: nowrap;
}

/* line 49, ../sass/_main-site-style.scss */
ul.primary, ul.secondary {
  margin: 0;
  padding: 1em 2px 1.5em;
}

/* line 56, ../sass/_main-site-style.scss */
.post-date,
.author {
  font-size: 0.8125em;
  letter-spacing: 1px;
  margin-right: 1.25em;
  text-transform: uppercase;
}
/* line 63, ../sass/_main-site-style.scss */
.post-date .label,
.author .label {
  letter-spacing: 0;
  font-size: 1.23077em;
  margin-right: 0.38462em;
  text-transform: uppercase;
}

/* line 79, ../sass/_main-site-style.scss */
.drupal-camp-text {
  display: block;
  font-size: 2.5em;
  line-height: 1;
  font-size: 2.5em;
}
@media only screen and (max-width: 959px) {
  /* line 79, ../sass/_main-site-style.scss */
  .drupal-camp-text {
    font-size: 2em;
  }
}
@media only screen and (max-width: 767px) {
  /* line 79, ../sass/_main-site-style.scss */
  .drupal-camp-text {
    font-size: 1.58333em;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1059px) {
  /* line 79, ../sass/_main-site-style.scss */
  .drupal-camp-text {
    line-height: 1.2;
  }
}

/* line 102, ../sass/_main-site-style.scss */
body {
  background-image: url(/sites/all/themes/sitetheme/images/bg_parchment.gif);
  background-repeat: repeat;
  padding-top: 20px;
}
@media only screen and (max-width: 1059px) {
  /* line 102, ../sass/_main-site-style.scss */
  body {
    padding-top: 0;
  }
}
/* line 111, ../sass/_main-site-style.scss */
body.cke_editable {
  background: none;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  /* line 119, ../sass/_main-site-style.scss */
  #page {
    padding: 0 40px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 119, ../sass/_main-site-style.scss */
  #page {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 1059px) {
  /* line 127, ../sass/_main-site-style.scss */
  #header {
    padding-left: 0;
    padding-right: 0;
  }
}

/* line 133, ../sass/_main-site-style.scss */
#main {
  background-image: url(/sites/all/themes/sitetheme/images/bg_drupal_watermark.png);
  background-repeat: no-repeat;
}
/* line 137, ../sass/_main-site-style.scss */
.front #main {
  padding-top: 2px;
}
@media only screen and (min-width: 768px) and (max-width: 1058px) {
  /* line 133, ../sass/_main-site-style.scss */
  #main {
    padding-top: 2em;
  }
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
  /* line 133, ../sass/_main-site-style.scss */
  #main {
    padding-top: 1em;
  }
}
@media only screen and (max-width: 599px) {
  /* line 133, ../sass/_main-site-style.scss */
  #main {
    padding-top: 0;
  }
}
/* line 149, ../sass/_main-site-style.scss */
.role-administrator #main {
  padding-top: 0;
}

@media only screen and (min-width: 768px) and (max-width: 1058px) {
  /* line 158, ../sass/_main-site-style.scss */
  #content,
  #sidebar {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 158, ../sass/_main-site-style.scss */
  #content,
  #sidebar {
    padding: 0 1em;
  }
}
@media only screen and (max-width: 599px) {
  /* line 158, ../sass/_main-site-style.scss */
  #content,
  #sidebar {
    float: none;
    width: 100%;
  }
}
/* line 169, ../sass/_main-site-style.scss */
.role-administrator #content, .role-administrator
#sidebar {
  padding-top: 2em;
}

@media only screen and (max-width: 599px) {
  /* line 177, ../sass/_main-site-style.scss */
  #content {
    border-top: 1px solid #d52027;
    margin-top: 7em;
  }
}
/* line 184, ../sass/_main-site-style.scss */
.front #content {
  padding-left: 0;
  padding-right: 0;
}

@media only screen and (max-width: 599px) {
  /* line 194, ../sass/_main-site-style.scss */
  #sidebar {
    position: static;
  }
}
/* line 199, ../sass/_main-site-style.scss */
.front #sidebar {
  padding-top: 0;
}

/* line 206, ../sass/_main-site-style.scss */
#logo {
  display: block;
  float: none;
  text-align: right;
}
@media only screen and (max-width: 599px) {
  /* line 206, ../sass/_main-site-style.scss */
  #logo {
    left: 0;
    max-height: 100px;
    max-width: 50%;
    padding: 0 1em;
    position: absolute;
    text-align: left;
    top: 3px;
    width: 50%;
  }
}
/* line 221, ../sass/_main-site-style.scss */
.front #logo {
  left: 0;
  padding-right: 30px;
  position: absolute;
  top: 0;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  /* line 221, ../sass/_main-site-style.scss */
  .front #logo {
    padding: 0 1em;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* line 238, ../sass/_main-site-style.scss */
  #header-inner {
    padding-bottom: 30px;
  }
}

/* line 245, ../sass/_main-site-style.scss */
#name-and-slogan {
  float: left;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 33.33333%;
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* line 245, ../sass/_main-site-style.scss */
  #name-and-slogan {
    width: 50%;
  }
}
@media only screen and (max-width: 479px) {
  /* line 245, ../sass/_main-site-style.scss */
  #name-and-slogan {
    float: none;
    text-align: center;
    width: 100%;
  }
}
/* line 259, ../sass/_main-site-style.scss */
#name-and-slogan a {
  font-weight: bold;
  line-height: 70px;
}
@media only screen and (max-width: 479px) {
  /* line 259, ../sass/_main-site-style.scss */
  #name-and-slogan a {
    line-height: 50px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* line 270, ../sass/_main-site-style.scss */
  .region-header {
    width: 50%;
  }
}
@media only screen and (max-width: 479px) {
  /* line 270, ../sass/_main-site-style.scss */
  .region-header {
    float: none;
    width: 100%;
  }
}

/* line 283, ../sass/_main-site-style.scss */
#main-menu {
  margin: 1.5em 0;
  font-size: 1.625em;
  font-weight: bold;
}
/* line 160, ../sass/menu/_single_col_stacked_menu.scss */
#main-menu .links {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
  text-align: right;
}
/* line 252, ../sass/menu/_single_col_stacked_menu.scss */
#main-menu .links li {
  list-style: none;
  list-style-image: none;
  padding: 0;
}
/* line 336, ../sass/menu/_single_col_stacked_menu.scss */
#main-menu .links a {
  color: #d52027;
  line-height: 1.2;
}
/* line 387, ../sass/menu/_single_col_stacked_menu.scss */
#main-menu .links a:hover {
  text-decoration: none;
}
/* line 401, ../sass/menu/_single_col_stacked_menu.scss */
#main-menu .links a.active {
  color: black;
}
@media only screen and (max-width: 767px) {
  /* line 283, ../sass/_main-site-style.scss */
  #main-menu {
    font-size: 1.25em;
  }
}
@media only screen and (max-width: 599px) {
  /* line 283, ../sass/_main-site-style.scss */
  #main-menu {
    background: rgba(0, 0, 0, 0.8);
    height: 100%;
    left: 0;
    margin: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    -webkit-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;
    width: 100%;
    z-index: -1;
  }
}
/* line 327, ../sass/_main-site-style.scss */
.front #main-menu {
  margin: 0 0 1.84615em;
  min-height: 555px;
  padding-top: 9.61538em;
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
  /* line 327, ../sass/_main-site-style.scss */
  .front #main-menu {
    min-height: 501px;
  }
}
@media only screen and (max-width: 599px) {
  /* line 327, ../sass/_main-site-style.scss */
  .front #main-menu {
    margin: 0;
    min-height: 1px;
    padding-top: 0;
  }
}
@media only screen and (max-width: 599px) {
  /* line 341, ../sass/_main-site-style.scss */
  .active-menu #main-menu {
    opacity: 1;
    z-index: 100;
  }
}
/* line 347, ../sass/_main-site-style.scss */
#main-menu .links {
  text-transform: uppercase;
}
@media only screen and (max-width: 767px) {
  /* line 347, ../sass/_main-site-style.scss */
  #main-menu .links {
    text-align: center;
  }
}
@media only screen and (max-width: 599px) {
  /* line 354, ../sass/_main-site-style.scss */
  #main-menu .links li + li {
    border-top: 1px solid #d52027;
  }
}
/* line 364, ../sass/_main-site-style.scss */
#main-menu .links .menu-1186,
#main-menu .links .menu-1187,
#main-menu .links .menu-1188,
#main-menu .links .menu-1189,
#main-menu .links .menu-1190 {
  font-size: 0.71429em;
}
@media only screen and (max-width: 599px) {
  /* line 374, ../sass/_main-site-style.scss */
  #main-menu .links .menu-1186 a,
  #main-menu .links .menu-1187 a,
  #main-menu .links .menu-1188 a,
  #main-menu .links .menu-1189 a,
  #main-menu .links .menu-1190 a {
    padding-top: 9px;
    padding-bottom: 9px;
  }
}
/* line 382, ../sass/_main-site-style.scss */
#main-menu .links .menu-1186,
#main-menu .links .menu-1190 {
  margin-top: 20px;
}
@media only screen and (max-width: 599px) {
  /* line 382, ../sass/_main-site-style.scss */
  #main-menu .links .menu-1186,
  #main-menu .links .menu-1190 {
    border-top-width: 4px;
    margin-top: 0;
  }
}
@media only screen and (max-width: 599px) {
  /* line 398, ../sass/_main-site-style.scss */
  #main-menu .links a {
    padding: 5px 0;
  }
}
/* line 403, ../sass/_main-site-style.scss */
#main-menu .links a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 599px) {
  /* line 415, ../sass/_main-site-style.scss */
  #main-menu-inner {
    background: #FFF;
    border: 1px solid #d52027;
    left: 50%;
    margin: -107px 0 0 -40%;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 80%;
  }
  /* line 427, ../sass/_main-site-style.scss */
  #main-menu-inner .close {
    display: block;
  }
}
/* line 431, ../sass/_main-site-style.scss */
#main-menu-inner .close {
  border: 1px solid #d52027;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.7);
  color: #d52027;
  cursor: pointer;
  height: 30px;
  line-height: 30px;
  position: absolute;
  right: -20px;
  top: -20px;
  width: 30px;
}

/* line 466, ../sass/_main-site-style.scss */
.form-item,
.form-actions {
  margin: 1em 0;
}

/* line 470, ../sass/_main-site-style.scss */
.form-item label {
  text-transform: uppercase;
}

@media only screen and (max-width: 479px) {
  /* line 483, ../sass/_main-site-style.scss */
  .toboggan-unified #login-message {
    font-size: 1.25em;
    font-weight: bold;
  }
}
/* line 491, ../sass/_main-site-style.scss */
.toboggan-unified #login-links {
  font-size: 1.375em;
  line-height: normal;
}
@media only screen and (max-width: 479px) {
  /* line 491, ../sass/_main-site-style.scss */
  .toboggan-unified #login-links {
    font-size: 1em;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1059px) {
  /* line 498, ../sass/_main-site-style.scss */
  .toboggan-unified #login-links a {
    padding: 6px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 599px) {
  /* line 498, ../sass/_main-site-style.scss */
  .toboggan-unified #login-links a {
    padding: 8px;
  }
}
@media only screen and (max-width: 959px) {
  /* line 507, ../sass/_main-site-style.scss */
  .toboggan-unified #login-links a + a {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 479px) {
  /* line 526, ../sass/_main-site-style.scss */
  .block-title {
    text-align: center;
  }
}
/* line 531, ../sass/_main-site-style.scss */
.block-title a {
  color: #d52027;
}

/* line 536, ../sass/_main-site-style.scss */
.block_conference-date {
  float: left;
  font-weight: bold;
  line-height: 70px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  width: 50%;
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* line 536, ../sass/_main-site-style.scss */
  .block_conference-date {
    text-align: right;
    width: 100%;
  }
}
@media only screen and (max-width: 479px) {
  /* line 536, ../sass/_main-site-style.scss */
  .block_conference-date {
    float: none;
    line-height: 1.25;
    width: 100%;
  }
}

/* line 560, ../sass/_main-site-style.scss */
.block-social {
  float: left;
  padding-top: 5px;
  width: 50%;
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* line 560, ../sass/_main-site-style.scss */
  .block-social {
    bottom: 0;
    left: 0;
    padding-top: 0;
    position: absolute;
    width: 100%;
  }
}
@media only screen and (max-width: 479px) {
  /* line 560, ../sass/_main-site-style.scss */
  .block-social {
    float: none;
    width: 100%;
  }
}
/* line 578, ../sass/_main-site-style.scss */
.block-social .content ul {
  float: right;
}
@media only screen and (max-width: 767px) {
  /* line 578, ../sass/_main-site-style.scss */
  .block-social .content ul {
    float: none;
    text-align: center;
  }
}
/* line 593, ../sass/_main-site-style.scss */
.block-social .content a:hover {
  text-shadow: 0 0 15px white;
}
/* line 599, ../sass/_main-site-style.scss */
.block-social .content [class^="icon-"],
.block-social .content [class*=" icon-"] {
  font-size: 25px;
  height: 45px;
  padding: 10px;
  overflow: hidden;
  text-align: right;
  text-decoration: none;
  width: 45px;
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  /* line 599, ../sass/_main-site-style.scss */
  .block-social .content [class^="icon-"],
  .block-social .content [class*=" icon-"] {
    height: 40px;
    width: 40px;
  }
}

/* line 620, ../sass/_main-site-style.scss */
.block-homepage_image_nav {
  left: 23px;
  position: absolute;
  top: 390px;
  width: 100%;
}
@media only screen and (min-width: 960px) and (max-width: 1059px) {
  /* line 620, ../sass/_main-site-style.scss */
  .block-homepage_image_nav {
    padding-right: 10px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
  /* line 620, ../sass/_main-site-style.scss */
  .block-homepage_image_nav {
    padding-right: 23px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
  /* line 620, ../sass/_main-site-style.scss */
  .block-homepage_image_nav {
    top: 370px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 599px) {
  /* line 620, ../sass/_main-site-style.scss */
  .block-homepage_image_nav {
    top: 260px;
  }
}
@media only screen and (max-width: 479px) {
  /* line 620, ../sass/_main-site-style.scss */
  .block-homepage_image_nav {
    position: static;
  }
}
@media only screen and (max-width: 599px) {
  /* line 620, ../sass/_main-site-style.scss */
  .block-homepage_image_nav {
    left: 0;
  }
}
/* line 644, ../sass/_main-site-style.scss */
.block-homepage_image_nav .content {
  font-size: 1.5em;
}
@media only screen and (max-width: 1059px) {
  /* line 644, ../sass/_main-site-style.scss */
  .block-homepage_image_nav .content {
    font-size: 1.125em;
  }
}
@media only screen and (max-width: 599px) {
  /* line 644, ../sass/_main-site-style.scss */
  .block-homepage_image_nav .content {
    font-size: 1.375em;
  }
}
@media only screen and (max-width: 479px) {
  /* line 644, ../sass/_main-site-style.scss */
  .block-homepage_image_nav .content {
    font-size: 1.625em;
  }
}
/* line 657, ../sass/_main-site-style.scss */
.block-homepage_image_nav .content li {
  background: #FFF;
  float: left;
  font-weight: bold;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  opacity: 0.85;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
  width: 33.33333%;
}
@media only screen and (max-width: 479px) {
  /* line 657, ../sass/_main-site-style.scss */
  .block-homepage_image_nav .content li {
    float: none;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    width: 100%;
  }
}
/* line 673, ../sass/_main-site-style.scss */
.block-homepage_image_nav .content li:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 676, ../sass/_main-site-style.scss */
.block-homepage_image_nav .content li:before {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAKCAYAAACe5Y9JAAAAGklEQVQIW2NkgAJGTMaqVav+g0QZ8TBwawcAMjUL/0MIbGoAAAAASUVORK5CYII=) repeat-y;
  content: "";
  height: 90%;
  left: -1px;
  position: absolute;
  top: 5%;
  width: 2px;
}
/* line 687, ../sass/_main-site-style.scss */
.block-homepage_image_nav .content li:first-child:before {
  content: normal;
}
/* line 692, ../sass/_main-site-style.scss */
.block-homepage_image_nav .content p {
  margin-top: 0;
  padding-top: 13px;
}

/* line 703, ../sass/_main-site-style.scss */
.block-speakers_rabblerousers,
.block-homepage_blog_listing {
  padding: 0 0 0 63px;
}
@media only screen and (max-width: 599px) {
  /* line 703, ../sass/_main-site-style.scss */
  .block-speakers_rabblerousers,
  .block-homepage_blog_listing {
    padding: 0 15px;
  }
}

/* line 718, ../sass/_main-site-style.scss */
.block-buildamodule_plug .content {
  text-transform: uppercase;
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
  /* line 718, ../sass/_main-site-style.scss */
  .block-buildamodule_plug .content {
    line-height: 1.4;
  }
}

/* line 729, ../sass/_main-site-style.scss */
.block-footer_sponsors .block-title {
  padding: 0 30px;
}

/* line 744, ../sass/_main-site-style.scss */
.view-display-id-accepted_sessions_page .session-speaker {
  float: left;
  padding: 8px 10px 0 0;
  width: 37.03704%;
}
/* line 750, ../sass/_main-site-style.scss */
.view-display-id-accepted_sessions_page .view-mode-session_speakers + .view-mode-session_speakers {
  margin-top: 5px;
}
/* line 754, ../sass/_main-site-style.scss */
.view-display-id-accepted_sessions_page .user-picture {
  float: left;
  margin-bottom: 5px;
}
/* line 763, ../sass/_main-site-style.scss */
.view-display-id-accepted_sessions_page .fname {
  clear: both;
  color: #000;
  float: left;
  line-height: 1;
  margin-right: 4px;
}
/* line 770, ../sass/_main-site-style.scss */
.view-display-id-accepted_sessions_page .lname {
  color: #000;
  line-height: 1;
  margin: 0;
}
/* line 775, ../sass/_main-site-style.scss */
.view-display-id-accepted_sessions_page .session-body {
  float: left;
  width: 62.96296%;
}

/* line 781, ../sass/_main-site-style.scss */
.view-display-id-homepage_blog_listing {
  padding-right: 100px;
}
@media only screen and (max-width: 599px) {
  /* line 781, ../sass/_main-site-style.scss */
  .view-display-id-homepage_blog_listing {
    padding-right: 10px;
  }
}
/* line 787, ../sass/_main-site-style.scss */
.view-display-id-homepage_blog_listing article {
  line-height: 1.25;
}
/* line 798, ../sass/_main-site-style.scss */
.view-display-id-homepage_blog_listing .title {
  font-size: 1.125em;
  font-weight: bold;
  line-height: 1.25;
}

@media only screen and (max-width: 479px) {
  /* line 811, ../sass/_main-site-style.scss */
  .view-display-id-rotating_sponsor_logos .slides {
    text-align: center;
  }
}
@media only screen and (max-width: 479px) {
  /* line 819, ../sass/_main-site-style.scss */
  .view-display-id-rotating_sponsor_logos .slides img {
    display: -moz-inline-stack;
    display: inline-block;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
  }
}

/* line 832, ../sass/_main-site-style.scss */
.view-display-id-speakers_and_rabblerousers article {
  float: left;
  font-size: 0.875em;
  width: 33.33333%;
}
@media only screen and (max-width: 479px) {
  /* line 832, ../sass/_main-site-style.scss */
  .view-display-id-speakers_and_rabblerousers article {
    float: none;
    text-align: center;
    width: 100%;
  }
}
/* line 846, ../sass/_main-site-style.scss */
.view-display-id-speakers_and_rabblerousers .session-link {
  text-decoration: none;
}
/* line 850, ../sass/_main-site-style.scss */
.view-display-id-speakers_and_rabblerousers .img {
  padding-right: 15px;
}
/* line 862, ../sass/_main-site-style.scss */
.view-display-id-speakers_and_rabblerousers .name {
  font-weight: bold;
  line-height: normal;
}
/* line 867, ../sass/_main-site-style.scss */
.view-display-id-speakers_and_rabblerousers .organization {
  line-height: normal;
  text-transform: uppercase;
}

/* line 880, ../sass/_main-site-style.scss */
.view-display-id-page_sponsors .img {
  max-width: 80%;
}

/* line 886, ../sass/_main-site-style.scss */
.view-display-id-sponsors_all .title {
  clear: both;
  float: left;
  margin: 3.75em 0 1.875em 0;
  width: 100%;
}
/* line 892, ../sass/_main-site-style.scss */
.view-display-id-sponsors_all .sponsor {
  float: left;
  padding-right: 10%;
  width: 50%;
}
/* line 899, ../sass/_main-site-style.scss */
.view-display-id-sponsors_all .sponsor:nth-of-type(2n+1) {
  clear: both;
}

/* line 913, ../sass/_main-site-style.scss */
.view-display-id-blog_listing_page .title {
  line-height: 1;
}
/* line 925, ../sass/_main-site-style.scss */
.view-display-id-blog_listing_page .read-more {
  font-size: 1.25em;
  text-align: right;
}

/* line 932, ../sass/_main-site-style.scss */
.view-display-id-single_tweet .tweet {
  text-align: center;
}

/* line 944, ../sass/_main-site-style.scss */
.view-display-id-footer_sponsors_all {
  padding: 15px 0;
}
/* line 949, ../sass/_main-site-style.scss */
.view-display-id-footer_sponsors_all > .view-header {
  float: left;
  padding: 0 30px;
  width: 33.33333%;
}
@media only screen and (max-width: 479px) {
  /* line 949, ../sass/_main-site-style.scss */
  .view-display-id-footer_sponsors_all > .view-header {
    padding: 0 15px;
    text-align: center;
    width: 100%;
  }
}
/* line 960, ../sass/_main-site-style.scss */
.view-display-id-footer_sponsors_all > .view-content {
  float: right;
  padding: 0 30px;
  width: 66.66667%;
}
@media only screen and (max-width: 479px) {
  /* line 960, ../sass/_main-site-style.scss */
  .view-display-id-footer_sponsors_all > .view-content {
    padding: 0 15px;
    width: 100%;
  }
}
/* line 970, ../sass/_main-site-style.scss */
.view-display-id-footer_sponsors_all > .view-content .sponsor {
  float: left;
  padding-right: 5%;
  width: 33.33333%;
}
@media only screen and (max-width: 479px) {
  /* line 970, ../sass/_main-site-style.scss */
  .view-display-id-footer_sponsors_all > .view-content .sponsor {
    margin: 10px 0;
    width: 100%;
  }
}
/* line 979, ../sass/_main-site-style.scss */
.view-display-id-footer_sponsors_all > .view-content .sponsor:nth-of-type(3n+1) {
  clear: both;
}
/* line 984, ../sass/_main-site-style.scss */
.view-display-id-footer_sponsors_all .title {
  clear: both;
}

/* line 997, ../sass/_main-site-style.scss */
.front .node {
  background: url(/sites/all/themes/sitetheme/images/campus_banner.jpg) no-repeat;
  min-height: 555px;
  margin-left: 1.4375em;
  padding-left: 0;
  padding-right: 0;
}
@media only screen and (min-width: 768px) and (max-width: 1058px) {
  /* line 997, ../sass/_main-site-style.scss */
  .front .node {
    margin-bottom: 1.5em;
  }
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
  /* line 997, ../sass/_main-site-style.scss */
  .front .node {
    min-height: 490px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 599px) {
  /* line 997, ../sass/_main-site-style.scss */
  .front .node {
    min-height: 430px;
  }
}
@media only screen and (max-width: 479px) {
  /* line 997, ../sass/_main-site-style.scss */
  .front .node {
    min-height: 300px;
  }
}
@media only screen and (max-width: 599px) {
  /* line 997, ../sass/_main-site-style.scss */
  .front .node {
    margin-bottom: 0.5em;
  }
}
@media only screen and (max-width: 599px) {
  /* line 997, ../sass/_main-site-style.scss */
  .front .node {
    margin-left: 0;
  }
}

/* line 1025, ../sass/_main-site-style.scss */
.node-page {
  position: relative;
}
/* line 1029, ../sass/_main-site-style.scss */
.front .node-page .desc {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 30px;
  padding: 60px 30px 0;
  text-transform: uppercase;
}
@media only screen and (max-width: 959px) {
  /* line 1029, ../sass/_main-site-style.scss */
  .front .node-page .desc {
    font-size: 1.5em;
  }
}
@media only screen and (max-width: 599px) {
  /* line 1029, ../sass/_main-site-style.scss */
  .front .node-page .desc {
    font-size: 1.125em;
  }
}
@media only screen and (max-width: 479px) {
  /* line 1029, ../sass/_main-site-style.scss */
  .front .node-page .desc {
    font-size: 1em;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1059px) {
  /* line 1029, ../sass/_main-site-style.scss */
  .front .node-page .desc {
    line-height: 30px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
  /* line 1029, ../sass/_main-site-style.scss */
  .front .node-page .desc {
    line-height: 24px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 1029, ../sass/_main-site-style.scss */
  .front .node-page .desc {
    padding-top: 30px;
  }
}
@media only screen and (max-width: 599px) {
  /* line 1029, ../sass/_main-site-style.scss */
  .front .node-page .desc {
    line-height: 1.25;
  }
}
@media only screen and (max-width: 479px) {
  /* line 1029, ../sass/_main-site-style.scss */
  .front .node-page .desc {
    padding: 30px 15px 0;
  }
}
/* line 1058, ../sass/_main-site-style.scss */
.node-page .desc sup {
  font-size: 60%;
}
/* line 1067, ../sass/_main-site-style.scss */
.node-page .desc p + p {
  margin-top: 0;
}

/* line 1074, ../sass/_main-site-style.scss */
.node-session .field {
  margin: 1em 0;
}
/* line 1077, ../sass/_main-site-style.scss */
.node-session .field-label {
  color: #000;
}
/* line 1080, ../sass/_main-site-style.scss */
.node-session .field-name-body {
  margin-top: 0;
}
/* line 1085, ../sass/_main-site-style.scss */
.node-session .field-content + .field-content {
  margin-top: 5px;
}
/* line 1089, ../sass/_main-site-style.scss */
.node-session .user-picture {
  clear: both;
  float: left;
  margin-bottom: 5px;
  margin-top: 8px;
  max-width: 37.03704%;
}
/* line 1101, ../sass/_main-site-style.scss */
.node-session .fname {
  clear: both;
  color: #000;
  float: left;
  line-height: 1;
  margin-right: 4px;
}
/* line 1108, ../sass/_main-site-style.scss */
.node-session .lname {
  color: #000;
  float: left;
  line-height: 1;
  margin: 0;
}
/* line 1114, ../sass/_main-site-style.scss */
.node-session .organization {
  clear: both;
  float: left;
  line-height: 1;
  margin-bottom: 5px;
}
/* line 1120, ../sass/_main-site-style.scss */
.node-session .social {
  clear: both;
  float: left;
  width: 37.03704%;
}
/* line 1126, ../sass/_main-site-style.scss */
.node-session .social:before {
  left: 0;
  position: absolute;
  top: 0;
}
/* line 1131, ../sass/_main-site-style.scss */
.node-session .social p {
  padding: 3px 0 0 25px;
}
/* line 1134, ../sass/_main-site-style.scss */
.node-session .social a {
  display: block;
  line-height: 16px;
}
/* line 1140, ../sass/_main-site-style.scss */
.node-session .desc {
  padding-left: 210px;
}
/* line 1144, ../sass/_main-site-style.scss */
.node-session .no-bio .social {
  width: 100%;
}

/* line 1153, ../sass/_main-site-style.scss */
#footer {
  color: #FFF;
  padding-left: 0;
  padding-right: 0;
}
/* line 1164, ../sass/_main-site-style.scss */
#footer a {
  color: #FFF;
}

/* line 1169, ../sass/_main-site-style.scss */
.block_copyright {
  clear: both;
  text-align: center;
}

/* line 1178, ../sass/_main-site-style.scss */
.flexslider {
  background: none;
  border: 0 none;
  box-shadow: none;
}
/* line 1188, ../sass/_main-site-style.scss */
.flexslider .slides img {
  max-width: 100%;
  width: auto;
}
